<section>
  <div class="content-left scrollbar">
    <div class="settings">
      <div class="panel flex align-items-center">
        <div class="panel-item filters" [ngClass]="{active: showFilters}" (click)="showFilters = !showFilters">
          <i class="mdi mdi-tune"></i>
        </div>
        <div class="panel-item grid" [ngClass]="{active: state.view === 'grid'}" (click)="setView('grid')">
          <i class="mdi mdi-view-grid"></i>
        </div>
        <div class="panel-item list" [ngClass]="{active: state.view === 'list'}" (click)="setView('list')">
          <i class="mdi mdi-view-sequential"></i>
        </div>
      </div>
      <vn-filters class="flex column" [ngClass]="showFilters ? 'open' : 'close'" [places]="state.places"></vn-filters>
    </div>
    <div class="main flex column">
      <div class="title inline w-100">
        <h4 class="nowrap">{{ filtersState.selectedCategory.title }} near
          <strong>{{ filtersState.location }}</strong>
        </h4>
        <p class="badge" *ngIf="state.total">{{ state.total }} results</p>
        <p class="badge" *ngIf="!state.total && !state.loading">No results</p>
      </div>
      <div class="places-wrap flex wrap w-100" [ngClass]="state.view === 'list' ? 'list' : 'grid'">
        <ng-container *ngFor="let place of state.places; trackBy: trackById">
          <vn-place [place]="place" (mouseenter)="place.hover = true" (mouseleave)="place.hover = false" @placeState></vn-place>
        </ng-container>
        <div class="no-results w-100 center-align" *ngIf="state.total === 0">
          <i class="mdi mdi-emoticon-sad"></i>
          <strong>There are no listings matching your search</strong>
          <ul class="suggestions">
            <li>Try a different location or establishment</li>
            <ng-container *ngIf="filtersState.selectedCuisines.length > 0 || filtersState.selectedPrices.length > 0">
              <li>
                Try to
                <a (click)="onResetFilters()">Reset</a> the filters or deselecting a tag or two
              </li>
            </ng-container>
          </ul>
        </div>
        <vn-error type="connection" (retry)="onReload()" *ngIf="state.error && !state.loading"></vn-error>
      </div>
      <vn-loader class="w-100" *ngIf="state.loading"></vn-loader>
    </div>
    <vn-pagination class="w-100 center-align" [itemsPerPage]="18" [currentPage]="currentPage" [totalItems]="state.total" (pageChange)="onPageChange($event)"
      *ngIf="!state.loading">
    </vn-pagination>
  </div>
</section>