@import 'variables';

ul.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #fff;
  
  &:first-child,
  &:last-child {
    border: 1px solid $border-color;
    height: 37px;
    width: 37px;

    a {
      color: $primary-color;
    }
  }

  &.active {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
    }

    a {
      color:#fff;
    }
  }

  &.disabled {
    &:hover {
      background-color: transparent;
    }

    a {
      color: $gray-color;
    }
  }

  &:hover {
    background-color: $secondary-background;
  }

  a {
    font-size: 14px;
    color: $font-color;
    line-height: 1;

    i {
      font-size: 21px;
    }
  }
}