<div class="filter map">
  <div class="title-inline flex align-items-center">
    <h3 class="m-0">Map</h3>
    <div class="switch flex ml-auto">
      <label>
        update when dragging
        <input type="checkbox" [checked]="updateOnDrag" (change)="updateOnDrag = !updateOnDrag">
        <span class="lever"></span>
      </label>
    </div>
  </div>
  <agm-map
    [latitude]="mapCenter.lat"
    [longitude]="mapCenter.lng"
    [streetViewControl]="false"
    [maxZoom]="18"
    [minZoom]="10"
    [zoom]="13"
    [zoomControl]="false"
    (centerChange)="mapCenter = $event"
    (boundsChange)="mapBounds = $event"
  >
    <agm-marker
      *ngFor="let business of data?.businesses"
      [latitude]="business.coordinates.latitude"
      [longitude]="business.coordinates.longitude"
      [iconUrl]="'assets/icons/marker.png'"
      [title]="business.name"
      (mouseOver)="business.markerHover = true"
      (mouseOut)="business.markerHover = false"
    >
      <agm-info-window>
        <strong>{{ business.name }}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
<div class="filter">
  <h3 class="title">Establishment Type</h3>
  <p class="radio-field" *ngFor="let category of categories; let i = index">
    <input 
      type="radio"
      name="establishment"
      [id]="category.alias"        
      class="with-gap"
      [checked]="category.title === selectedCategory.title"
      (change)="onCategoryChanged(i)"
    >
    <label [for]="category.alias">{{ category.title }}</label>
  </p>
</div>
<div class="filter">
  <h3 class="title">Price</h3>
  <p class="checkbox-field"  *ngFor="let price of prices">
    <input
      type="checkbox"
      [id]="price.alias"      
      class="filled-in"
      [checked]="price.checked"
      (change)="onFilterChanged(selectedPrices, price)"
    >
    <label [for]="price.alias">{{ price.title }}</label>
  </p>
</div>
<div class="filter" *ngIf="selectedCategory.alias === 'restaurants'">
  <h3 class="title">Cuisine</h3>
  <p class="checkbox-field" *ngFor="let cuisine of cuisines">
    <input
      type="checkbox"
      [id]="cuisine.alias"
      class="filled-in"
      [checked]="cuisine.checked"
      (change)="onFilterChanged(selectedCuisines, cuisine)"
    >
    <label [for]="cuisine.alias">{{ cuisine.title }}</label>
  </p>
  <div class="more align-items-center" (click)="openModal()">
    <span>Show More</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</div>
<button mz-button class="hide-on-med-and-up red" *ngIf="isFiltered()" (click)="onResetFilters()">Reset</button>