<header class="flex align-items-center mb-1">
  <h4 class="nowrap m-0 color-white"><strong>{{ (category | async).title }}</strong> near {{ (location | async) }}</h4>
  <p class="m-0 color-white" *ngIf="(state | async).total">{{ (state | async).total }} Results</p>
  <p class="m-0 color-white" *ngIf="!(state | async).total">No Results</p>
</header>

<div class="flex" [ngClass]="{sidebar: sidebarOpen && mobileView}">
  <div class="main flex wrap max-w-100">
    <div class="places-wrap flex wrap w-100 mb-auto">
      <vn-place
        class="mb-1 mr-1"
        [ngClass]="{'marker-hover': place.markerHover}"
        [place]="place"
        (click)="getPlace(place.id)"
        (mouseenter)="place.hover = true"
        (mouseleave)="place.hover = false"
        *ngFor="let place of (state | async).places; trackBy: trackById"
      >
      </vn-place>
      <div class="no-results w-100" *ngIf="(state | async).total === 0">
        <strong>Suggestions for improving the results:</strong>
        <p class="m-0">Try a different location.</p>
        <p class="m-0">Try a different establishment.</p>
        <ng-container *ngIf="filtersApplied | async">
          <a (click)="onResetFilters()">Reset</a> the filters or try deselecting a tag or two.
        </ng-container>
      </div>
      <div class="no-results w-100" *ngIf="(state | async).error ">
        <h3 class="center-align">Connection Error</h3>
        <p class="center-align mt-0">Our server may be down. Please try again later.</p>
        <div class="center-align">
          <button mz-button (click)="onReload()">Try Again</button>
        </div>
      </div>
    </div>
    <div class="spinner-wrap" [hidden]="!(state | async).loading">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </div>
    <vn-pagination
      class="w-100 center-align mt-auto"
      [itemsPerPage]="18"
      [currentPage]="(state | async).currentPage"
      [totalItems]="(state | async).total"
      (pageChange)="onPageChange($event)"
    >
    </vn-pagination>
  </div>
  <div
    #sidebar
    class="filters align-self-flex-start mb-1"
    [@sidebarState]="sidebarOpen ? 'open' : 'closed'"
    *ngIf="!mobileView || sidebarOpen"
  >
    <vn-filters class="flex column"></vn-filters>
  </div>
</div>
<button
  class="btn btn-large btn-floating waves-effect waves-light filters-triger hide-on-med-and-up z-depth-5"
  (click)="onOpenSidebar()"
  *ngIf="mobileView"
>
  <i mz-icon icon="filter_list"></i>
</button>
<div id="sidenav-overlay" *ngIf="mobileView && sidebarOpen" (click)="onCloseSidebar()"></div>
