@import './../../variables';

:host {
  display: block;
}

header {
  background-image: url('../../../assets/images/list-banner.jpg');
  background-position: top left;
}

#filters-sidenav {
  width: 100% !important;
  
  vn-filters {
    padding: 10px;
  }
  
  & + button {
    position: fixed;
    top: 50%;
    left: 15px;
    z-index: 200;
  }
}

.filters {
  min-width: 280px;
  width: 280px;
}

.main {
  position: relative;
  flex-grow: 1;
  min-height: 300px;
  overflow-x: hidden;

  .title {
    z-index: 100;
  }

  .places-wrap {
    padding: 0 5px;
  }

  .no-results {
    @media #{$small-and-down} {
      text-align: center;
    }
  }
}

.spinner-wrap {
  background-color: rgba($body-bg-color, 0.6);

  mz-spinner {
    position: sticky;  
    align-self: flex-start;
    top: calc(50% - 32px);
  }
}

vn-pagination ::ng-deep ul {
  margin-bottom: 2rem;
}