@import './../../variables';

:host {
  display: block;
}

header {
  padding: 15px;
  background-color: $primary-color;

  h4 {
    font-weight: 300;
    line-height: 1.5;
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;

    h4 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }

  @media #{$extra-small-only} {
    margin: 0 -5px 1rem;
    padding: 25px 5px;

    h4 {
      font-size: 1.2rem;
    }
  }
}

.filters {
  min-width: 300px;
  width: 300px;

  @media #{$small-and-down} {
    position: fixed;
    top: 0;
    height: 100%;
    min-width: 450px;
    width: 450px;
    margin: 0;
    margin-left: -5px;
    overflow: auto;
    background-color: #f6f6f6;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  @media #{$extra-small-only} {
    min-width: 90%;
    width: 90%;
  }
}

.main {
  position: relative;
  flex-grow: 1;

  .no-results {
    @media #{$small-and-down} {
      text-align: center;
    }
  }
}


.spinner-wrap {
  background-color: rgba(246, 246, 246, 0.6);

  mz-spinner {
    position: sticky;  
    align-self: flex-start;
    top: calc(50% - 32px);
  }
}

.filters-triger {
  position: sticky;
  left: 7px;
  bottom: 45%;
  background-color: $secondary-color;
  z-index: 80;

  @media #{$extra-small-only} {
    width: 50px;
    height: 50px;
    line-height: 50px;

    i {
      line-height: 50px;
    }
  }
}

vn-pagination ::ng-deep ul {
  margin-bottom: 2rem;
}