@import './../../variables';

:host {
  display: block;
}

mz-sidenav::ng-deep {
  vn-filters {
    padding: 10px;
  }
}

button#btn-filters-sidebar {
  position: fixed;
  top: 50%;
  left: 15px;
}

.filters {
  min-width: 300px;
  width: 300px;
  padding: 0 10px 10px;
  margin-left: 1.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;

  @media #{$small-and-down} {
    position: fixed;
    top: 0;
    height: 100%;
    min-width: 450px;
    width: 450px;
    margin: 0;
    margin-left: -5px;
    overflow: auto;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  @media #{$extra-small-only} {
    min-width: 90%;
    width: 90%;
  }
}

.main {
  position: relative;
  flex-grow: 1;
  min-height: 300px;
  overflow: hidden;

  .no-results {
    @media #{$small-and-down} {
      text-align: center;
    }
  }
}


.spinner-wrap {
  background-color: rgba(255, 255, 255, 0.6);

  mz-spinner {
    position: sticky;  
    align-self: flex-start;
    top: calc(50% - 32px);
  }
}

vn-pagination ::ng-deep ul {
  margin-bottom: 2rem;
}