<mz-modal #modal id="auth" [options]="modalOptions">
  <mz-modal-header>
    </mz-modal-header>
  <mz-modal-content>
    <div class="spinner-wrap" *ngIf="(loading | async)">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </div>
    <vn-tabs>
      <vn-tab-item id="login" label="Login">
        <ng-template>
          <vn-login></vn-login>
        </ng-template> 
      </vn-tab-item>
      <vn-tab-item id="register" label="Register">
        <ng-template>
          <vn-register></vn-register>
        </ng-template> 
      </vn-tab-item>
    </vn-tabs>
  </mz-modal-content>
</mz-modal>