<mz-modal #modal id="auth" [options]="modalOptions">
  <mz-modal-header>
    </mz-modal-header>
  <mz-modal-content>
    <ul class="tabs tabs-fixed-width" #tabs>
      <li class="tab"><a href="#login" (click)="changeMode('login')">Login</a></li>
      <li class="tab"><a href="#register" (click)="changeMode('register')">Register</a></li>
    </ul>
    <div class="p-2">
      <div id="login" class="col s12"><vn-login *ngIf="mode === 'login'"></vn-login></div>
      <div id="register" class="col s12"><vn-register *ngIf="mode === 'register'"></vn-register></div>
    </div>
  </mz-modal-content>
</mz-modal>