<header class="flex align-items-center mb-1">
  <h4 class="nowrap w-80 m-0 color-white"><strong>{{ selectedCategory.title }}</strong> near {{ selectedLocation }}</h4>
  <p class="m-0 w-20 right-align color-white">{{ data.total }} Results</p>
</header>

<div class="flex" [ngClass]="{sidebar: sidebarOpen && mobileView}">
  <div
    #sidebar
    class="filters align-self-flex-start mr-1 mb-1"
    [@sidebarState]="sidebarOpen ? 'open' : 'closed'"
    *ngIf="!mobileView || sidebarOpen"
  >
    <vn-filters class="flex column"></vn-filters>
  </div>
  <div class="main flex wrap align-content-flex-start max-w-100">
    <div class="places-wrap flex wrap w-100 align-self-flex-start">
      <vn-place
        class="mb-1 mr-1"
        [ngClass]="{'marker-hover': business.markerHover}"
        [place]="business"
        (click)="getPlace(business.id)"
        (mouseenter)="business.hover = true"
        (mouseleave)="business.hover = false"
        *ngFor="let business of data.businesses; trackBy: trackById"
      >
      </vn-place>
      <div class="no-results w-100" *ngIf="data.total === 0">
        <strong>Suggestions for improving the results:</strong>
        <p class="m-0">Try a different location.</p>
        <p class="m-0">Try a different establishment.</p>
        <ng-container *ngIf="isFiltered()">
          <a (click)="onResetFilters()">Reset</a> the filters or try deselecting a tag or two.
        </ng-container>
      </div>
    </div>
    <div class="spinner-wrap" [hidden]="!loading">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </div>
    <vn-pagination
      class="w-100 center-align"
      [state]="state"
      [totalItems]="data.total"
      (pageChange)="onPageChange($event)"
    >
    </vn-pagination>
  </div>
</div>
<button
  class="btn btn-large btn-floating waves-effect waves-light filters-triger hide-on-med-and-up z-depth-5"
  (click)="onOpenSidebar()" *ngIf="mobileView">
  <i mz-icon icon="filter_list"></i>
</button>
<div id="sidenav-overlay" *ngIf="mobileView && sidebarOpen" (click)="onCloseSidebar()"></div>
