<div class="flex w-100" class="search-box">
  <form class="flex w-100" (ngSubmit)="onSubmit()">
    <div class="flex w-70 location">
      <div id="locate">
        <button
          type="button"
          mz-button
          [flat]="true"
          [float]="true"
          (click)="getLocation()"
          [disabled]="locateSpinner || locateFailed"
        >
        <i 
          mz-icon
          [icon]="locateFailed ? 'location_off' : 'location_on'"
          class="search-icon"
          [vnColor]="locateFailed ? 'gray' : 'primary'"
          *ngIf="!locateSpinner"
        >
        </i>
          <mz-spinner color="blue" size="small" *ngIf="locateSpinner"></mz-spinner>
        </button>
      </div>
      <input
        #search
        type="text"
        name="location"
        [(ngModel)]="location"
        class="search-input"
        placeholder="{{ selectedCategory.title }} near..."
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        (keyup)="onSearchChange($event)"
      >
    </div>
    <div class="flex w-30 categories">
      <div class="input-field w-100">
        <select mz-select name="category" [(ngModel)]="selectedCategoryIndex" (change)="onCategoryChange($event)">
          <option [value]="i" *ngFor="let category of categories; let i = index">{{ category.title }}</option>
        </select>
      </div>
    </div>
    <button mz-button type="submit" vnBgColor="dark" >
      <i class="align-self-center" mz-icon icon="search" *ngIf="!searching"></i>
      <mz-spinner id="search-spinner" size="small" *ngIf="searching"></mz-spinner>
    </button>
  </form>
</div>