<header>
  <div class="cover"></div>
  <h1 *ngIf="(state | async).place">{{ (state | async).place.name }}</h1>
</header>


<div class="content">
  <div @placeState *ngIf="(state | async).loading !== 'page' && (state | async).error !== 'page'">
    <div class="title">
      <h4 class="nowrap">
        <strong>{{ (state | async).place.name }}</strong> {{ (state | async).place.location.city }}</h4>
      <p>
        <vn-btn-favorite [placeId]="(state | async).place.id" [placeName]="(state | async).place.name" [text]="true"></vn-btn-favorite>
      </p>
    </div>

    <div class="flex wrap w-100">
      <div class="content-left">
        <div class="info-card">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-information-outline"></i>
              <h6>Information</h6>
            </div>
            <vn-stars [rating]="(state | async).place.rating"></vn-stars>
          </div>
          <div class="info-card-body information flex wrap">
            <div class="detail">
              <i class="mdi mdi-map-marker"></i>
              <span class="nowrap max-w-75">{{ (state | async).place.location.address1 }}</span>
              
              <ng-container *ngIf="!(state | async).place.location.address1">
                <span class="nowrap max-w-75">{{ (state | async).place.location.display_address }}</span>
              </ng-container>
            </div>

            <div class="detail" *ngIf="(state | async).place.display_phone">
              <i class="mdi mdi-phone"></i>
              <span class="nowrap max-w-75">
                <a [href]="'tel:' + (state | async).place.phone">{{ (state | async).place.display_phone }}</a>
              </span>
            </div>

            <div class="detail" *ngIf="(state | async).place.price">
              <i class="mdi mdi-currency-usd"></i>
              <vn-price [price]="(state | async).place.price" [textOnly]="true"></vn-price>
            </div>
          </div>
        </div>

        <div class="info-card">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-map"></i>
              <h6>Location</h6>
            </div>
            <a target="_blank" [href]="'http://maps.google.com/maps?daddr=' + (state | async).place.coordinates.latitude + ',' + (state | async).place.coordinates.longitude">Get Directions</a>
          </div>
          <div class="info-card-body">
            <agm-map [latitude]="(state | async).place.coordinates.latitude" [longitude]="(state | async).place.coordinates.longitude"
              [scrollwheel]="false" [styles]="mapStyles" [zoom]="10">
              <agm-marker [latitude]="(state | async).place.coordinates.latitude" [longitude]="(state | async).place.coordinates.longitude"
                [iconUrl]="'assets/icons/marker.png'">
              </agm-marker>
            </agm-map>
          </div>
        </div>

        <div class="info-card" *ngIf="transactions.pickup || transactions.delivery || transactions.reservation">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-view-module"></i>
              <h6>Transactions</h6>
            </div>
          </div>
          <div class="info-card-body transactions flex wrap">
            <div class="detail" *ngIf="transactions.pickup">
              <i class="mdi mdi-face"></i>Pickup
            </div>

            <div class="detail" *ngIf="transactions.delivery">
              <i class="mdi mdi-truck"></i>Delivery
            </div>

            <div class="detail" *ngIf="transactions.reservation">
              <i class="mdi mdi-book"></i>Reservation
            </div>
          </div>
        </div>

        <div class="info-card" *ngIf="(state | async).reviews?.reviews.length">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-message-text-outline"></i>
              <h6>Latest Reviews</h6>
            </div>
          </div>
          <div class="info-card-body flex">

            <!-- reviews error message -->
            <div class="error center-align align-self-flex-start w-70 py-2" *ngIf="(state | async).error === 'reviews'" @errorState>
              <h3>Connection Error</h3>
              <p>Ooops, something went wromg. Please try again later.</p>
              <button mz-button (click)="onReloadReviews()">Try Again</button>
            </div>

            <!-- reviews loader -->
            <div class="spinner-wrap mt-2" *ngIf="(state | async).loading === 'reviews'">
              <mz-spinner color="blue" size="medium"></mz-spinner>
            </div>

            <ul class="reviews">
              <li *ngFor="let review of (state | async).reviews.reviews">
                <div class="user flex align-items-center w-100">
                  <img [src]="review.user.image_url || 'assets/images/user_review.png'">
                  <div class="review-head w-100">
                    <div class="flex">
                      <h6 class="m-0">{{ review.user.name }}</h6>
                      <vn-stars class="ml-auto" [rating]="review.rating"></vn-stars>
                    </div>
                    <div class="date">{{ review.time_created }}</div>
                  </div>
                </div>
                <div class="text">
                  <p>{{ review.text.slice(0, -3) }}
                    <a [href]="review.url" target="_blank">read more...</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-right">
        <div class="info-card" *ngIf="(state | async).place.hours">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-clock"></i>
              <h6>Working Hours</h6>
            </div>
            <span class="is-open ml-auto" [vnBgColor]="isOpen ? 'primary' : 'danger'">Now {{ isOpen ? 'Open' : 'Closed' }}</span>
          </div>
          <div class="info-card-body">
            <ul>
              <ng-container *ngFor="let day of (state | async).place.hours[0].open; let i = index">
                <ng-container *ngIf="i === 0 || (state | async).place.hours[0].open[i - 1].day !== day.day; else sameDay">
                  <li>
                    <span>{{ day.day | day }}</span> {{ (day.start | hour) + ' - ' + (day.end | hour) }}
                  </li>
                </ng-container>
                <ng-template #sameDay>
                  <li class="same-day">{{ (day.start | hour) + ' - ' + (day.end | hour) }}</li>
                </ng-template>
              </ng-container>
            </ul>
          </div>
        </div>

        <div class="info-card" *ngIf="(state | async).place.categories.length">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-view-module"></i>
              <h6>Categories</h6>
            </div>
          </div>
          <div class="info-card-body flex wrap">
            <div class="detail" *ngFor="let category of (state | async).place.categories">
              <i class="mdi mdi-leaf"></i>
              <span class="nowrap max-w-75">{{ category.title }}</span>
            </div>
          </div>
        </div>

        <div class="info-card" *ngIf="(state | async).place.photos.length">
          <div class="info-card-head">
            <div class="info-card-title">
              <i class="mdi mdi-image"></i>
              <h6>Gallery</h6>
            </div>
          </div>
          <div class="info-card-body flex gallery">
            <img [src]="image" *ngFor="let image of (state | async).place.photos; let i = index" (click)="openLightbox(i)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- page error message -->
  <div class="error center-align align-self-flex-start w-70 py-2 mx-auto" *ngIf="(state | async).error === 'page'" @errorState>
    <h3>Place Not Found</h3>
    <p>Ooops, something went wromg. Please try again later.</p>
    <p>*If this message not eventually replaced, the required place may not be reachable anymore.</p>
    <button mz-button (click)="onReloadPage()">Try Again</button>
  </div>

  <!-- page loader -->
  <div class="spinner-container flex align-items-center justify-content-center" *ngIf="(state | async).loading === 'page'">
    <mz-spinner size="big" color="blue"></mz-spinner>
  </div>
</div>