<header class="flex align-items-center mb-1">
  <h4 class="nowrap m-0 color-white"><strong>Manage</strong> Your Favorites</h4>
  <p class="m-0 color-white">{{ (state | async).places.length }}/20</p>
</header>

<div class="center-align mt-2" *ngIf="(state | async).places.length === 0 && !(state | async).loading && !(state | async).error">
  <h3>No favorites to display</h3>
</div>
<div class="center-align mt-2" *ngIf="(state | async).error && !(state | async).loading">
  <h3>Connection Error</h3>
  <p>Our server may be down. Please try again later.</p>
  <button mz-button (click)="onReload()">Try Again</button>
</div>
<div class="spinner-container flex align-items-center justify-content-center" *ngIf="(state | async).loading">
  <mz-spinner size="big" color="blue"></mz-spinner>
</div>

<div *ngIf="(state | async).places.length > 0">
  <div class="flex wrap w-100 align-self-flex-start mb-2">
    <vn-place @placeState [place]="place" class="mb-1 mr-1" *ngFor="let place of (state | async).places"></vn-place>
  </div>
</div>