<header class="flex align-items-center mb-1">
  <h4 class="nowrap w-100 m-0 color-white"><strong>Manage</strong> Your Favorites</h4>
</header>

<div *ngIf="places.length === 0 && !loading">
  No favorites to display
</div>
<div class="spinner-container flex align-items-center justify-content-center" *ngIf="loading">
  <mz-spinner size="big" color="blue"></mz-spinner>
</div>

<div *ngIf="places.length > 0">
  <div class="flex wrap w-100 align-self-flex-start">
    <vn-place [place]="place" class="mb-1 mr-1" *ngFor="let place of places; trackBy: trackById"></vn-place>
  </div>
</div>