<!-- <vn-nav mode="page" class="flex w-100 align-self-flex-start" [ngClass]="{sticky: mobileView}"></vn-nav> -->
<section class="w-100 mt-3">
  <div class="content" [@routeState]="getAnimationState(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>      
  </div>
</section>
<footer class="page-footer w-100">
  <div class="footer-copyright">
    <div class="container">
    © 2017 VeganNearby
    <a class="grey-text text-lighten-4 right" href="http://www.github.com/Liad91/treehouse_final" target="_blank">Github</a>
    </div>
  </div>
</footer>
    