@import '../../variables';

:host {
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: transform 250ms ease-out;

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;

    &:hover,
    &:focus {
      transform: translateX(5px);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 700px) {
    width: calc(50% - 0.25rem);    
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &:nth-of-type(2n+2) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 701px) {
    width: calc(33.3% - calc(2rem / 3));   

    &:nth-of-type(3n+3) {
      margin-right: 0;
    }
    
    &.marker-hover {
      transform: scale(1.07);
    }
  }
}

.place-card {
  position: relative;

  img {
    width: 100%;
    height: 160px;
  }

  .cover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

    button {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 33px;
      height: 33px;
      line-height: 33px;
      
      i {
        font-size: 18px;
        line-height: 35px;
      }
      mz-spinner ::ng-deep {
        .preloader-wrapper.small {
          width: 18px;
          height: 18px;
        }
  
        .spinner-layer {
          border-color: #fff;
        }
  
        .circle-clipper .circle {
          border-width: 2px;
        }
      }
  
      &.favorite,
      &:hover {
        i {
          color: $danger-color;
        }
      }
    }
  }
}