<agm-map [latitude]="state.coordinates?.lat" [longitude]="state.coordinates?.lng" [streetViewControl]="false" [maxZoom]="18"
  [minZoom]="10" [zoom]="state.zoom" [styles]="mapStyles" [zoomControl]="false" (zoomChange)="onZoomChanged($event)">
  <agm-marker *ngFor="let place of places" [latitude]="place.coordinates.latitude" [longitude]="place.coordinates.longitude"
    [iconUrl]="'assets/icons/marker.png'" [title]="place.name" (mouseOver)="place.markerHover = true" (mouseOut)="place.markerHover = false">
  </agm-marker>
</agm-map>

<div class="filter">
  <p>Map</p>
  <div class="fields">
    <p class="checkbox-field">
      <input type="checkbox" class="filled-in" id="filled-in-box" [checked]="updateOnDrag" (change)="updateOnDrag = !updateOnDrag"
      />
      <label for="filled-in-box">Update when dragging</label>
    </p>
  </div>
</div>
<div class="filter">
  <p>Establishment Type</p>
  <div class="fields">
    <p class="radio-field" *ngFor="let category of state.categories; let i = index">
      <input type="radio" name="establishment" [id]="category.alias" [checked]="category.title === state.selectedCategory.title"
        (change)="onCategoryChanged(category, i)">
      <label [for]="category.alias">{{ category.title }}</label>
    </p>
  </div>
</div>
<div class="filter">
  <p>Price</p>
  <div class="fields">
    <p class="checkbox-field" *ngFor="let price of state.prices">
      <input type="checkbox" [id]="price.alias" class="filled-in" [checked]="price.checked" (change)="updatePrices(price)">
      <label [for]="price.alias">{{ price.title }}</label>
    </p>
  </div>
</div>
<div class="filter" *ngIf="state.selectedCategory.alias === 'restaurants'">
  <div class="more">
    <p>Cuisine</p>
    <span (click)="openModal()">Show More</span>
  </div>
  <div class="fields">
    <p class="checkbox-field" *ngFor="let index of state.displayedCuisinesIndex">
      <input type="checkbox" [id]="state.cuisines[index].alias" class="filled-in" [checked]="state.cuisines[index].checked" (change)="updateCuisines(state.cuisines[index])">
      <label [for]="state.cuisines[index].alias">{{ state.cuisines[index].title }}</label>
    </p>
  </div>
</div>
<div class="filter">
  <p>Radius (km)</p>
  <div class="fields">
    <div class="w-100 mr-1" #slider></div>
  </div>
</div>