@import '../../variables';

:host {
  display: flex;;
  flex-direction: column;
  background-color: #fff;
}

.header {
  position: relative;
  margin-top: -64px;
  height: 52vh;
  min-height: 450px;
  background-image: url('../../../assets/images/header2.jpg');
  background-size: cover;
  background-position: 50% 26%;

  .header-1 {
    position: relative;
    display: flex;
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }
  
  h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  
  h3 {
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0;
  }

  @media #{$small-and-down} {
    height: 40vh;
    margin-top: -56px;
    background-size: contain;

    &+.secondary {
      padding-top: calc(3rem + 196px);
    }
  }
}


.search-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: 94px;
  padding: 0 1.5rem;
  transform: translate(0, 45%);
  background: #fff;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  vn-search {
    width: 100%;
  }

  @media #{$medium-and-down} {
    width: 850px;
  }

  @media #{$small-and-down} {
    width: 95%;
  }

  @media #{$extra-small-only} { 
    width: 100%;
    height: 196px;
    padding: 0 10px;
    border-radius: 0;
    transform: translate(0, 100%);
  }
}

section {
  padding: 5rem 0;

  &.secondary {
    background: $secondary-background;
  }

  &.divided {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url('../../../assets/images/go-vegan.jpg');
      background-size: cover;

      @media #{$small-and-down} {
        content: none;
      }
    }

    .title-big { 
      text-align: left;
      padding-left: 1rem;

      h1 {
        padding-bottom: 2rem;
      }

      @media #{$small-and-down} {
        text-align: center;
      }
    }

    .reasons {
      width: 45%;
      padding: 0 1rem;

      @media #{$small-and-down} {
        width: 100%;
        padding: 0 0.5rem;
      }

      .reason {
        align-items: center;

        &:hover {
          i::before {
            color: $primary-color;
            border-color: $primary-color;
          }
        }
        
        i {
          padding-right: 20px;

          &::before {
            font-size: 1.2rem;
            line-height: 1;
            padding: 9px;
            border-radius: 50%;
            border: 1px solid;
            transition: 0.25s ease-out;
            transition-property: color, border-color;
            will-change: color, border-color;
          }
        }

        p strong {
          color: $dark-color;
        }
      }
    }
  }
  
  @media #{$small-and-down} {
    padding: 3rem 0;
  }
}

.title-big {
  text-align: center;

  h1 {
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    &::before {
      left: -10px;
    }

    &::after {
      right: -10px;
    }

    @media #{$extra-small-only} {
      font-size: 2.2rem;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  p {
    font-size: 1.1rem;
    font-family: $header-font-family;
    padding-bottom: 2rem;
  }
}

.cities {
  display: flex;
  justify-content: space-between;

  .city {
    padding: 1rem;
    position: relative;
    height: 290px;
    width: 33.333%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;

    @media #{$medium-and-down} {
      width: 50%;
      height: 250px;
    }
  
    @media #{$small-and-down} {
      padding: 0.5rem;
    }

    @media #{$extra-small-only} {
      padding: 0.5rem 0;
      width: 100%;
    }

    &:hover {
      & > div {
        box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.35);
      }
      .results {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      transition: box-shadow 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      will-change: box-shadow;
    }

    &.big {
      width: 66.666%;

      @media #{$medium-and-down} {
        width: 100%;
      }
    }
    
    h3 {
      margin-top: 0;
      font-weight: 600;
      font-size: 1.6rem;
      text-align: center;
      color: #fff;
    }

    .results {
      font-weight: 600;
      padding: 4px 8px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 10px;
      transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition-property:  background-color, border-color;
      will-change: background-color, border-color;
    }
  }

  .center {
    flex-grow: 1;

    & > div {
      height: 192px;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  .berlin {
    background-image: url('../../../assets/images/berlin.jpg');
  }
  .new-york {
    background-image: url('../../../assets/images/new-york.jpg');
  }
  .toronto {
    background-image: url('../../../assets/images/toronto.jpg');
  }
  .los-angeles {
    background-image: url('../../../assets/images/los-angeles.jpg');
  }
}

.places {
  min-height: 250px;
  position: relative;

  @media #{$medium-and-up} {
    vn-place {
      width: calc(25% - (30px / 4));
      margin-right: 10px;
  
      &:nth-of-type(3n+3) {
        margin-right: 10px;
      }
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;
  }
}