<div class="header flex">
  <div class="content flex column justify-content-center w-100">
    <div class="flex column align-items-center">
      <div class="header-1">
        <h1 class="mt-0">Looking for</h1>
        <h1 class="mt-0 category" *ngIf="category.alias === 'restaurants'" @categoryState>&nbsp;restaurant?</h1>
        <h1 class="mt-0 category" *ngIf="category.alias === 'cafes'" @categoryState>&nbsp;cafe?</h1>
        <h1 class="mt-0 category" *ngIf="category.alias === 'bars'" @categoryState>&nbsp;bar?</h1>
      </div>
      <h3 class="center-align mt-0" *ngIf="!(mobileView | async)">
        <vn-typed [strings]="strings"></vn-typed>
      </h3>
      <h3 class="center-align mt-0" *ngIf="(mobileView | async)">Let us help you to find it!</h3>
    </div>
    <div class="search-form">
      <vn-search mode="home"></vn-search>
    </div>
  </div>
</div>

<section class="secondary">
  <div class="content w-100">
    <div class="title-big">
      <h1 class="mt-0">Browse
        <span class="primary">our</span>
        cities
      </h1>
      <p class="m-0">Find out how many lovely places we have on our directory</p>
    </div>

    <div class="cities flex wrap w-100">
      <div class="city big" (click)="searchCity('Los Angeles, CA, USA')">
        <div class="los-angeles">
          <h3>Los Angeles</h3>
          <div class="results">9126 results</div>
        </div>
      </div>
      <div class="city" (click)="searchCity('New York, NY, USA')">
        <div class="new-york">
          <h3>New York</h3>
          <div class="results">8051 results</div>
        </div>
      </div>
      <div class="city" (click)="searchCity('Toronto, ON, Canada')">
        <div class="toronto">
          <h3>Toronto</h3>
          <div class="results">1448 results</div>
        </div>
      </div>
      <div class="city" (click)="searchCity('London, UK')">
        <div class="berlin">
          <h3>London</h3>
          <div class="results">1270 results</div>
        </div>
      </div>
      <div class="city" (click)="searchCity('Berlin, Germany')">
        <div class="berlin">
          <h3>Berlin</h3>
          <div class="results">783 results</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divided">
  <div class="content w-100">
    <div class="title-big">
      <h1 class="mt-0">Why you
        <span class="primary">should</span>
        go vegan
      </h1>
    </div>

    <div class="reasons">
      <div class="reason flex">
        <i class="mdi mdi-leaf"></i>
        <p>
          <strong>Help to save animals:</strong> Every vegan saves more than 100 animals a year! There is simply no easier way to
          help animals and prevent suffering.</p>
      </div>

      <div class="reason flex">
        <i class="mdi mdi-leaf"></i>
        <p>
          <strong>Save the planet:</strong> Consuming meat is actually one of the worst things that you can do for the Earth. It
          is wasteful and causes enormous amounts of pollution.</p>
      </div>

      <div class="reason flex">
        <i class="mdi mdi-leaf"></i>
        <p>
          <strong>Help feed the world:</strong> Eating meat takes tons of crops and water to raise farmed animals. All that plant
          food could be used much more efficiently if it were fed directly to people.</p>
      </div>

      <div class="reason flex">
        <i class="mdi mdi-leaf"></i>
        <p>
          <strong>Vegan diet is great for your health:</strong> According to the Academy of Nutrition and Dietetics, vegans are less
          likely to develop heart disease, cancer, diabetes, or high blood pressure than meat-eaters are.</p>
      </div>
    </div>
  </div>
</section>

<section class="secondary">
  <div class="content w-100">
    <div class="title-big">
      <h1 class="mt-0">Our
        <span class="primary">featured</span>
        places
      </h1>
      <p class="m-0">Currently trending places on town, worth to check them out</p>
    </div>

    <div class="places flex justify-content-center">
      <div class="error center-align align-self-flex-start w-70 py-2" *ngIf="(state | async).error">
        <h3 class="white-text">Connection Error</h3>
        <p class="white-text">Ooops, something went wromg. Please try again later.</p>
        <button mz-button (click)="onReload()">Try Again</button>
      </div>
      <vn-place [place]="place" [ngClass]="{list: (mobileView | async)}" [listMode]="(mobileView | async)" *ngFor="let place of (state | async).places">
      </vn-place>
      <div class="spinner-container flex align-items-center justify-content-center" *ngIf="(state | async).loading">
        <mz-spinner size="medium" color="blue"></mz-spinner>
      </div>
    </div>
  </div>
</section>