<div class="flex wrap">
    <p @errorState class="error center-align w-100 mt-0" vnColor="danger" *ngIf="formErrorMessage">{{ formErrorMessage }}</p>
    <p @errorState class="error center-align mt-0" vnColor="danger" *ngIf="uploadErrorMessage">{{ uploadErrorMessage }}</p>    
    <form class="flex w-100 wrap" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="flex w-100 image-upload">
        <div class="image-wrap">
          <div
            ng2FileDrop
            class="flex justify-content-center align-items-center image-drop"
            (fileOver)="onFileOver($event)"
            [uploader]="uploader"
            [ngClass]="{'file-over': hasDropZoneOver, 'color-danger': uploadErrorMessage}"
            *ngIf="!userImageFile"
          >
            <p class="m-0">Drag a image here</p>
            <button type="button" mz-button [float]="true" (click)="select.click()">
              <i mz-icon icon="add"></i>
            </button>
            <input
              #select
              type="file"
              accept="image/*"
              ng2FileSelect
              [uploader]="uploader"
              [hidden]="true"
            />
          </div>
          <img @imgPreviewState [vnImgPreview]="userImageFile" *ngIf="userImageFile">
          <button 
            type="button"
            mz-button
            [float]="true"
            (click)="onResetUploader()"
            vnBgColor="danger"
            *ngIf="userImageFile"
          >
            <i mz-icon icon="remove"></i>
          </button>
        </div>
      </div>
      <mz-input-container class="auth w-100">
        <input
          mz-input
          mz-validation
          required
          id="register-username"
          type="text"
          placeholder="username"
          label="Username:"
          formControlName="username"
          [errorMessageResource]="errorMessageResources.username"
        >
      </mz-input-container>
      <mz-input-container class="auth w-100">
        <input
          mz-input
          mz-validation
          required
          id="register-email"
          type="email"
          placeholder="example@domain.com"
          label="Email:"
          formControlName="email"
          [errorMessageResource]="errorMessageResources.email"
        >
      </mz-input-container>
      <mz-input-container class="auth w-100">
        <input
          mz-input
          mz-validation
          required
          id="register-password"
          type="password"
          placeholder="password"
          label="Password:"
          formControlName="password"
          [errorMessageResource]="errorMessageResources.password"
        >
      </mz-input-container>
      <button mz-button class="w-100 p-0" type="submit">Continue</button>
    </form>
  </div>