@import 'variables';

.price {
  display: inline-block;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
  color: #999;

  .highlight {
    color: $primary-color;
  }
}

.tooltip-container {
  position: relative;
  display: block;

  &:hover {
    .tooltip {
      transform: translateX(-50%) scale(1);
    }
  }

  .tooltip {
    position: absolute;
    left: 50%;
    bottom: 165%;
    font-size: 13px;
    line-height: 24px;
    padding: 3px 10px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    background-color: #1b1c1d;
    transform: translateX(-50%) scale(0);
    transition: transform 250ms ease;
    z-index: 900;
  }
}