@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer.page-footer {
  font-family: $header-font-family;
  text-align: center;
  margin-top: auto;
  padding-top: 0;
  font-size: 14px;
  
  .footer-copyright {
    height: 50px;
    background-color: #e3e3e3;
    font-weight: 500;
    color: $font-color;

    @media screen and (max-width: 550px) {
      height: 56px;
    }
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;

    .footer-copyright .container {
      width: 95%;
    }
  }
}