@import './variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer.page-footer {
  font-family: $header-font-family;
  text-align: center;
  margin-top: auto;
  padding-top: 0;
  font-size: 14px;
  
  .footer-copyright {
    background-color: #0b0b0b;
    font-weight: 400;
  }

  @media #{$extra-small-only} {
    font-size: 12px;

    .footer-copyright .container {
      width: 95%;
    }
  }
}