@import '../../variables';

agm-map {
  display: block;  
  height: 300px;
}

.filter {
  padding-bottom: 1rem;
  border-bottom: 1px solid $border-color;

  &:first-of-type {
    .title-inline {
      padding-top: 0;
    }
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom-width: 0;
  }
  
  .title-inline {
    padding: 15px 0 7px;
    margin: 0;

    i {
      font-size: 1.5rem;
      margin-right: 7px;
      color: $dark-color;
    }

    h3 {
      margin: 0;
      font-size: 1rem;
    }
  }

  .switch label {
    font-size: 13px;
    color: #5a5a5a;
    
    span.lever {
      margin: 0 0 0 10px;
    }
  }
  

  [type="radio"] + label,
  [type="checkbox"] + label {
    font-size: 0.9rem;
    padding-left: 30px;
    height: 23px;
    line-height: 23px;
  }

  p.checkbox-field,
  p.radio-field {
    margin: 0.3rem 0.7rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  p.checkbox-field,
  p.radio-field {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.more {
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  font-size: 13px;
  color: $dark-color;

  i {
    font-size: 15px;
  }

  &:hover span {
    text-decoration: underline;
  }
}

a.red  {
  margin-top: 10px;
}