@import '../../../variables';

p.error {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 12px 10%;
}

.image-upload {
  p {
    font-size: 90%;
  }
}

.image-wrap {
  position: relative;
  margin: 0.5rem auto 2rem;
  height: 110px;
  width: 110px;
  color: #a3a3a3;
  border: 1px dashed;
  border-radius: 50%;

  .image-drop,
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  button {
    position: absolute;
    display: flex;
    top: -3px;
    right: -8px;
    transition: transform 0.25s ease-out;
    will-change: transform;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.image-drop {
  &.file-over {
    color: #0089ec !important;
    
    button {
      transform: scale(0);
    }
  }

  p {
    font-size: 80%;
  }
}

mz-input-container:not(.w-100) {
  width: 49%;
}

button[type=submit] {
  margin-top: 0.5rem;
}