<mz-modal
  #modal
  class="flex w-100 h-100 column justify-content-center align-items-center"
  id="registration"
  [options]="modalOptions"
>
  <mz-modal-header class="flex w-100">
    <span>{{ mode === 'signIn' ? 'Sign In' : 'Sign Up'}}</span>
    <button
      mz-button
      class="flex justify-content-end align-items-center ml-auto"
      [float]="true"
      [flat]="true"
      (click)="modal.close()"
    >
      <i class="black-text" mz-icon icon="clear"></i>
    </button>    
  </mz-modal-header>
  <mz-modal-content class="flex wrap">
    <p @errorState class="flex w-100 center-align mt-0" appColor="danger" *ngIf="formErrorMessage">
      {{ formErrorMessage }}
    </p>    
    <form
      class="flex w-100 wrap"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <ng-container *ngIf="mode === 'signUp'">
        <div class="flex w-100 image-upload">
          <div class="image-wrap">
            <div
              ng2FileDrop
              class="flex justify-content-center align-items-center image-drop"
              (fileOver)="onFileOver($event)"
              [uploader]="uploader"
              [ngClass]="{'file-over': hasDropZoneOver, 'color-danger': uploadErrorMessage}"
              *ngIf="!userImageFile"
            >
              <p class="m-0">Drag a image here</p>
              <button type="button" mz-button [float]="true" (click)="select.click()">
                <i mz-icon icon="add"></i>
              </button>
              <input
                #select
                type="file"
                accept="image/*"
                ng2FileSelect
                [uploader]="uploader"
                [hidden]="true"
              />
            </div>
            <img @imgPreviewState [appImgPreview]="userImageFile" *ngIf="userImageFile">
            <button 
              type="button"
              mz-button
              [float]="true"
              (click)="onResetUploader()"
              appBgColor="danger"
              *ngIf="userImageFile"
            >
              <i mz-icon icon="remove"></i>
            </button>
          </div>
          <p @errorState class="center-align mb-0" appColor="danger" *ngIf="uploadErrorMessage">{{ uploadErrorMessage }}</p> 
        </div>
        <mz-input-container class="w-100">
          <input
            mz-input
            mz-validation
            required
            id="input-username"
            type="text"
            label="Username"
            formControlName="username"
            [appActive]="(mode === 'signUp' && form.pristine && form.untouched) || form.get('username').value"
            [errorMessageResource]="errorMessageResources.username"
          >
        </mz-input-container>
      </ng-container>
      <mz-input-container class="w-100">
        <input
          mz-input
          mz-validation
          required
          id="input-email"
          type="email"
          label="Email"
          formControlName="email"
          [appActive]="(mode === 'signIn' && form.pristine && form.untouched) || form.get('email').value"
          [errorMessageResource]="errorMessageResources.email"
        >
      </mz-input-container>
      <mz-input-container class="w-100">
        <input
          mz-input
          mz-validation
          required
          id="input-password"
          type="password"
          label="Password"
          formControlName="password"
          [errorMessageResource]="errorMessageResources.password"
        >
      </mz-input-container>
      <div class="flex w-100 justify-content-space-around align-items-center pt-1">
        <button class="w-45 p-0" type="submit" mz-button  [disabled]="form.invalid">
          <span>{{ mode === 'signIn' ? 'Sign In' : 'Sign Up'}}</span> 
        </button>
        <button
          mz-button          
          type="button"
          class="w-45 white p-0"
          appColor="secondary"
          (click)="onSwitchMode()"
          *ngIf="mode === 'signIn'"
        >
          Create Account
        </button>
        <button
          mz-button        
          type="button"
          class="w-45 white p-0"
          appColor="secondary"
          (click)="onSwitchMode()"
          *ngIf="mode === 'signUp'"
        >
          Already a Member?
        </button>
      </div>
    </form>
    <ng-container *ngIf="mode === 'signIn'">
      <div class="w-100 center-align mt-1">
        <span id="social-text">Sign in via social media</span>
      </div>
      <div @socialBtnState class="social-btn-wrap">
        <button
          *ngFor="let network of socialNetworks"
          mz-button
          class="p-0"
          [appBgColor]="network"
          (click)="onSocialLogin(network)"
        >
          <img src="assets/icons/{{network}}.png" [alt]="network" class="icon"><span >{{ network | titlecase }}</span>
        </button>
      </div>
    </ng-container>
    <div class="spinner-wrap" *ngIf="loading">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </div>
  </mz-modal-content>
</mz-modal>