<div class="flex wrap">
  <vn-error @errorState type="inline" *ngIf="formErrorMessage">{{ formErrorMessage }}</vn-error>
  <form class="flex w-100 wrap" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mz-input-container class="auth w-100">
      <input mz-input mz-validation required id="login-email" type="email" placeholder="Email Address" label="Email:" formControlName="email"
        [errorMessageResource]="errorMessageResources.email">
    </mz-input-container>
    <mz-input-container class="auth w-100">
      <input mz-input mz-validation required id="login-password" type="password" placeholder="Set A Password" label="Password:"
        formControlName="password" [errorMessageResource]="errorMessageResources.password">
    </mz-input-container>
    <button mz-button class="w-100 p-0" type="submit">Login</button>
  </form>
  <p class="social-text w-100 center-align">
    <span>OR</span> With your social media account
  </p>
  <div class="social-btn-wrap">
    <button [class]="'btn p-0 ' + network" (click)="onSocialLogin(network)" *ngFor="let network of ['google', 'facebook', 'twitter']">
      <i class="mdi mdi-{{network}}"></i>
      {{ network | titlecase }}
    </button>
  </div>
</div>