@import '../../variables';

.title {
  p {
    line-height: 0;

    &::ng-deep img {
      max-width: 125px;

      @media #{$small-only} {
        max-width: 130px;        
      }

      @media #{$extra-small-only} {
        max-width: 120px;        
      }
    }
  }
}

agm-map {
  display: block;
  height: 300px;
}

.main {
  .info-box div {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    & > i {
      font-size: 21px;
      color: #565656;
      margin-right: 7px;
    }

    &.address {
      flex-wrap: wrap;

      span:not(:first-of-type) {
        display: block;
        width: 100%;
        margin-left: 28px;
      }
    }
  }
}

.spinner-container {
  height: calc(100vh - 200px);
  position: relative;
}
.categories span {
  &:after {
    content: ', ';
  }

  &:last-child {
    &:after {
      content: '';
    }
  }
}