<ng-container *ngIf="!(state | async).loading && !(state | async).error">

  <agm-map
    [latitude]="(state | async).place.coordinates.latitude"
    [longitude]="(state | async).place.coordinates.longitude"
    [scrollwheel]="false"
    [styles]="mapStyles"
    [zoom]="17"
  >
    <agm-marker
      [latitude]="(state | async).place.coordinates.latitude"
      [longitude]="(state | async).place.coordinates.longitude"
      [iconUrl]="'assets/icons/marker.png'"
    >
    </agm-marker>
  </agm-map>

  <div class="content">
    <div class="title mt-2">
      <h4 class="nowrap"><strong>{{ (state | async).place.name }}</strong> - {{ (state | async).place.location.city }}</h4>
      <p><vn-stars [rating]="(state | async).place.rating" size="sm"></vn-stars></p>
    </div>
    
    <!-- <vn-btn-favorite [placeId]="(state | async).place.id" [placeName]="(state | async).place.name"></vn-btn-favorite> -->
    <div class="flex wrap w-100">
      <div class="info-box">
        <div class="categories">
          <i class="material-icons">restaurant</i>
          <span *ngFor="let category of (state | async).place.categories">{{ category.title }}</span>
        </div>
        <div class="address" >
          <i class="material-icons">location_on</i>
          <span *ngFor="let address of (state | async).place.location.display_address">{{ address }}</span>
        </div>
        <div class="phone" *ngIf="(state | async).place.display_phone">
          <i class="material-icons">phone</i>
          <span>{{ (state | async).place.display_phone }}</span>
        </div>
        <div class="price">
          <i class="material-icons">attach_money</i>
          <vn-price [price]="(state | async).place.price"></vn-price>
        </div>
      </div>
    </div>  
  </div>
</ng-container>

<div class="spinner-container" *ngIf="(state | async).loading">
  <div class="spinner-wrap">
    <mz-spinner color="blue" size="big"></mz-spinner>
  </div>
</div>