@import '../../variables';

header {
  background-image: url('../../../assets/images/favorites-banner.jpg');
}

.title {
  p {
    line-height: 0;

    &::ng-deep img {
      max-width: 125px;

      @media #{$small-only} {
        max-width: 130px;        
      }

      @media #{$extra-small-only} {
        max-width: 120px;        
      }
    }
  }
}

h3 {
  margin: 0 0 1rem;
  line-height: 1.5;
}

.details {
  .page-left {
    width: calc(70% - 2rem);
    margin-right: 2rem;

    .info {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 1.5rem;
    
      & > i {
        margin-right: 10px;
        padding: 10px;
        color: $tertiary-color;
        border: 2px solid;
        border-radius: 50%;
      }
    
      h5 {
        margin: 0;
        line-height: 1.2;
      }
    
      .text {
        a,
        span {
          font-size: 14px;
        }
    
        a {
          color: $font-color;
    
          &:hover {
            color: $secondary-color;
          }
        }
      }
    
      &.address span,
      &.categories span {
        &:after {
          content: ', ';
        }
      
        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }

    agm-map {
      display: block;
      height: 300px;
    }

    .reviews {
      position: relative;
      min-height: 250px;
    
      .user {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 8px;
        }
    
        .details {
          h6 {
            margin: 0 0 5px;
          }
    
          vn-stars {
            line-height: 0;
            margin-right: 10px;
            max-width: 100px;
          }
    
          .date {
            font-size: 13px;
          }
        }
      }
      
      .text {
        width: 95%;
        padding-left: 35px;
        color: $dark-color;

        p {
          margin-top: 10px;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  
  .page-right {
    width: 30%;

    .inline {
      h3 {
        margin: 0;
      }
      
      .is-open {
        padding: 3px 7px;
        color: #fff;
        font-size: 13px;
        border-radius: 3px;
      }
    }
    
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 8px 0;
        border-top: 1px dashed #ccc;
        
        &.same-day,
        &:first-child {
          padding-top: 0;
          border-top: 0;
        }
    
        strong {
          margin-right: auto;
        }
    
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.spinner-container {
  height: calc(100vh - 200px);
  position: relative;
}