<ng-container *ngIf="!(state | async).loading && !(state | async).error">
  <header class="flex align-items-center">
    <h4 class="nowrap m-0 color-white"><strong>{{ (state | async).place.name }}</strong> - {{ (state | async).place.location.city }}</h4>
    <p class="m-0"><vn-btn-favorite [placeId]="(state | async).place.id" [placeName]="(state | async).place.name"></vn-btn-favorite></p>
  </header>
  
  <div class="flex wrap w-100">
    <div class="main">
      <h2>{{ (state | async).place.name }}</h2>
      <div class="info">
        <div class="categories">
          <i class="material-icons">restaurant</i>
          <span *ngFor="let category of (state | async).place.categories">{{ category.title }}</span>
        </div>
        <div class="address" >
          <i class="material-icons">location_on</i>
          <span *ngFor="let address of (state | async).place.location.display_address">{{ address }}</span>
        </div>
        <div class="phone" *ngIf="(state | async).place.display_phone">
          <i class="material-icons">phone</i>
          <span>{{ (state | async).place.display_phone }}</span>
        </div>
        <div class="price">
          <i class="material-icons">attach_money</i>
          <vn-price [price]="(state | async).place.price"></vn-price>
        </div>
      </div>
      <vn-stars [rating]="(state | async).place.rating" size="sm"></vn-stars>
      <p class="review-count">Based on {{ (state | async).place.review_count }} reviews</p>

      <agm-map
        class="mb-1"
        [latitude]="(state | async).place.coordinates.latitude"
        [longitude]="(state | async).place.coordinates.longitude"
        [zoom]="14"
      >
        <agm-marker
          [latitude]="(state | async).place.coordinates.latitude"
          [longitude]="(state | async).place.coordinates.longitude"
          [iconUrl]="'assets/icons/marker.png'"
        >
        </agm-marker>
      </agm-map>
    </div>

    <div class="sidebar">
      <div class="card">
        <div class="card-image">
          <vn-carousel class="carousel-slider center" [fullWidth]="true" [indicators]="true">
            <vn-carousel-item [src]="photo" *ngFor="let photo of (state | async).place.photos"></vn-carousel-item>
          </vn-carousel>
        </div>
      </div>
    </div>
  </div>  
</ng-container>

<div class="spinner-container" *ngIf="(state | async).loading">
  <div class="spinner-wrap">
    <mz-spinner color="blue" size="big"></mz-spinner>
  </div>
</div>