// ==========================================================================
// Materialize Modal
// ==========================================================================

.modal {
  top: 50% !important;
  left: 50%;
  right: 50%;
  max-height: 90%;
  transform: translate(-50%, -50%) !important;
  border-radius: 5px;
  background-color: #fff;
  
  .modal-content {
    padding: 0;

    & > h4,
    & > p {
      margin: 0;
    }
  }
  
}

.modal-footer:empty {
  display: none;
}

mz-modal#auth,
mz-modal#alert,
mz-modal#edit,
mz-modal#lightbox {
  .modal {
    max-width: 350px;
    @media #{$extra-large-and-up} {
     width: 35%; 
    }
    @media screen and (max-width: $large-screen) {
      width: 50%;
    }
    @media screen and (max-width: $medium-screen) {
      width: 70%;
    }
    @media screen and (max-width: $small-screen) {
      width: 85%;
    }
  }
}

mz-modal#auth,
mz-modal#edit {
  .modal {
    border-top: 5px solid $primary-color;
  }
}

mz-modal#lightbox {
  .modal {
    overflow-y: visible;
    max-width: 550px;
  }
}

mz-modal#cuisines {
  .modal {
    height: 60%;
    max-width: 700px;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }

    .modal-content {
      display: flex;;
      flex-direction: column;
      position: relative;
    }

    @media screen and (max-width: $small-screen) {
      width: 90%;
    }
  }
}