// ==========================================================================
// Materialize Toast
// ==========================================================================

#toast-container {
  &:not(:empty) {
    min-height: 50px;
  }
  @media #{$medium-and-up} {
    top: initial;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  @media #{$medium-only} {
    bottom: 0;
    max-width: 100%;
    width: 100%;
  }
}

.toast {
  justify-content: center;
  background: $danger-color;

  @media #{$medium-and-up} {
    display: flex;
    float: none;
    right: initial;
    padding: 10px;
  }
}