// ==========================================================================
// Materialize - Custom Variables
// ==========================================================================

// Font Family
$font-family: 'Roboto', 'sans-serif';
$header-font-family: 'Raleway', 'sans-serif';

// Colors
$primary-color: color(primary);
$secondary-color: color(secondary);
$button-raised-background: $primary-color;
$warning-color: color(warning);
$danger-color: color(danger);
$dark-color: color(gray-500);
$font-color: color(gray-400);
$gray-color: color(gray-300);
$border-color: color(gray-200);
$border-color-light: color(gray-150);
$secondary-background: color(gray-100);

// Transitions
$fast-transition: all 250ms ease-out;
$medium-transition: all 350ms ease-out;
$slow-transition: all 450ms ease-out;

// Media Query Ranges
$extra-small-screen-up: 600px;
$small-screen-up: 960px;
$medium-screen-up: 1280px;
$large-screen-up: 1920px;
$extra-small-screen: 599px;
$small-screen: 959px;
$medium-screen: 1279px;
$large-screen: 1919px;

$small-and-up: "screen and (min-width : #{$extra-small-screen-up})";
$medium-and-up: "screen and (min-width : #{$small-screen-up})";
$large-and-up: "screen and (min-width : #{$medium-screen-up})";
$extra-large-and-up: "screen and (min-width : #{$large-screen-up})";
$small-and-down: "screen and (max-width : #{$small-screen})";
$medium-and-down: "screen and (max-width : #{$medium-screen})";
$large-and-down: "screen and (max-width : #{$large-screen})";
$extra-small-only: "screen and (max-width : #{$extra-small-screen})";
$small-only: "screen and (min-width : #{$extra-small-screen-up}) and (max-width : #{$small-screen})";
$medium-only: "screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";
$large-only: "screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})";
$extra-large-only: "screen and (min-width : #{$large-screen-up})";