<div class="business-card">
  <div class="business-card-content flex column w-100">
    <img class="image" [src]="business.image_url || 'assets/images/business.png'" [alt]="business.name">
    <div class="title flex">
      <div class="top flex">
        <!-- <span class="working-badge" [ngClass]="business.is_closed ? 'bg-color-danger' : 'bg-color-secondary'">
          <i mz-icon icon="access_time"></i>
          {{ business.is_closed ? 'closed' : 'open' }}
        </span> -->
        <button mz-button [float]="true" [flat]="true" class="ml-auto">
          <i mz-icon icon="favorite_border"></i>
        </button>
      </div>
      <div class="bottom flex wrap">
        <h3 class="nowrap">{{ business.name }}</h3>   
        <app-price [price]="business.price"></app-price>
      </div>
    </div>
    <div class="body flex column">
      <div class="categories w-100 nowrap">
        <i class="tiny material-icons">business</i>
        <span *ngFor="let category of business.categories">{{ category.title }}</span>
      </div>
      <div class="address w-100 nowrap">
        <i class="tiny material-icons">location_on</i>
        <span *ngFor="let address of business.location.display_address">{{ address }}</span>
      </div>
      <div class="phone w-100 nowrap" *ngIf="business.display_phone">
        <i class="tiny material-icons">call</i>
        <span>{{ business.display_phone }}</span>
      </div>
      <div class="rating flex mt-auto w-100 nowrap">
        <app-stars [rating]="business.rating" size="sm"></app-stars>
        <div class="yelp-logo ml-auto">
          <a target="_blank" [href]="business.url">
            <img class="w-100" src="assets/images/yelp_logo.png" alt="yelp logo">
          </a>
        </div>
        <div class="reviews">
          <span>Based on {{ business.review_count }} Reviews</span>
        </div>
      </div>
    </div>
  </div>
</div>