<mz-modal id="lightbox" [options]="modalOptions">
  <mz-modal-header>
    <button class="close-btn" type="button" mz-button [float]="true" (click)="onClose()">
      <i class="mdi mdi-close"></i>
    </button>
  </mz-modal-header>
  <mz-modal-content>
    <div class="main flex" [@imageState]="options.active">
      <ng-container *ngFor="let image of options.images; let i = index">
        <img [src]="image" *ngIf="i === options.active">
      </ng-container>
      <div class="action prev" (click)="prev()">
        <i class="mdi mdi-chevron-left mdi-24px"></i>
      </div>
      <div class="action next" (click)="next()">
        <i class="mdi mdi-chevron-right mdi-24px"></i>
      </div>
    </div>
  </mz-modal-content>
</mz-modal>