  <div class="flex wrap">
    <p @errorState class="center-align w-100 m-0" vnColor="danger" *ngIf="formErrorMessage">
      {{ formErrorMessage }}
    </p>    
    <form class="flex w-100 wrap" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <ng-container *ngIf="mode === 'register'">
        <div class="flex w-100 image-upload">
          <div class="image-wrap">
            <div
              ng2FileDrop
              class="flex justify-content-center align-items-center image-drop"
              (fileOver)="onFileOver($event)"
              [uploader]="uploader"
              [ngClass]="{'file-over': hasDropZoneOver, 'color-danger': uploadErrorMessage}"
              *ngIf="!userImageFile"
            >
              <p class="m-0">Drag a image here</p>
              <button type="button" mz-button [float]="true" (click)="select.click()">
                <i mz-icon icon="add"></i>
              </button>
              <input
                #select
                type="file"
                accept="image/*"
                ng2FileSelect
                [uploader]="uploader"
                [hidden]="true"
              />
            </div>
            <img @imgPreviewState [vnImgPreview]="userImageFile" *ngIf="userImageFile">
            <button 
              type="button"
              mz-button
              [float]="true"
              (click)="onResetUploader()"
              vnBgColor="danger"
              *ngIf="userImageFile"
            >
              <i mz-icon icon="remove"></i>
            </button>
          </div>
          <p @errorState class="center-align mb-0" vnColor="danger" *ngIf="uploadErrorMessage">{{ uploadErrorMessage }}</p> 
        </div>
        <mz-input-container class="w-100">
          <input
            mz-input
            mz-validation
            required
            id="input-username"
            type="text"
            placeholder="username"
            label="Username:"
            formControlName="username"
            [errorMessageResource]="errorMessageResources.username"
          >
        </mz-input-container>
      </ng-container>
      <mz-input-container class="w-100">
        <input
          mz-input
          mz-validation
          id="input-email"
          type="email"
          placeholder="example@domain.com"
          label="Email:"
          formControlName="email"
          [errorMessageResource]="errorMessageResources.email"
        >
      </mz-input-container>
      <mz-input-container class="w-100">
        <input
          mz-input
          mz-validation
          id="input-password"
          type="password"
          placeholder="password"
          label="Password:"
          formControlName="password"
          [errorMessageResource]="errorMessageResources.password"
        >
      </mz-input-container>
      <button mz-button class="w-100 p-0" type="submit">Continue</button>
    </form>
    <ng-container *ngIf="mode === 'login'">
      <div class="social-btn-wrap">
        <span>OR</span>
        <button
          *ngFor="let network of socialNetworks"
          mz-button
          class="p-0"
          [vnBgColor]="network"
          (click)="onSocialLogin(network)"
        >
          <img src="assets/icons/{{network}}.png" [alt]="network" class="icon"><span >{{ network | titlecase }}</span>
        </button>
      </div>
    </ng-container>
    <div class="spinner-wrap" *ngIf="(loading | async).loading">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </div>
  </div>