@import './variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer.page-footer {
  margin-top: auto;
  padding-top: 0;
  font-size: 14px;
  border-bottom: 2px solid $primary-color;
  
  .footer-copyright {
    background-color: #212121;
    font-weight: 400;
  }

  @media #{$extra-small-only} {
    text-align: center;
    font-size: 12px;

    .footer-copyright .container {
      width: 95%;

      & > a + a {
        margin-right: 45%;
      }
    }
  }
}