@import '../variables';

:host {
  display: block;
}

header {
  background-image: url('../../assets/images/favorites-banner.jpg');
}

.no-results {
  i {
    display: block;
    font-size: 3rem;
    color: $gray-color;
  }
}

.empty-places {
  position: relative;
  font-size: 14px;
  
  .btn-underline {
    margin-left: 10px;
    font-weight: bold;
  }

  vn-loader ::ng-deep {
    .spinner-container {
      @media #{$medium-and-up} {
        justify-content: flex-end;
      }
    }
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      width: 100%;
      text-align: center;
    }

    a:first-child {
      margin-left: 0;
    }
  }
}

vn-place {
  @media #{$medium-and-up} {
    width: calc(25% - calc(3rem / 4));
    &:nth-of-type(3n+3) ::ng-deep {
      margin-right: 1rem;
    }
    &:nth-of-type(4n+4) ::ng-deep {
      margin-right: 0;
    }
  }
}