@import 'variables';

:host {
  display: block;
}

header {
  background-image: url('../../assets/images/favorites-banner.jpg');

  @media #{$medium-and-down} {
    background-position-x: 10%;
  }
}

.no-results {
  i {
    display: block;
    font-size: 3rem;
    color: $gray-color;
  }
}

.empty-places {
  position: relative;
  font-size: 14px;
  
  .btn-underline {
    margin-left: 10px;
    font-weight: bold;
  }

  vn-loader ::ng-deep {
    .spinner-container {
      @media #{$medium-and-up} {
        justify-content: flex-end;
      }
    }
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      width: 100%;
      text-align: center;
    }

    a:first-child {
      margin-left: 0;
    }
  }
}

vn-place {
  width: 100%;
  margin: 0 0 1rem 0;

  @media screen and (min-width: 560px) and (max-width: 829px) {
    width: calc(50% - 0.5rem);
    margin: 0 1rem 1rem 0;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 830px) {
    width: calc(33.333% - 2rem / 3);
    margin: 0 1rem 1rem 0;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}