<mz-navbar [ngClass]="{light: light}">
  <mz-navbar-item-container fxLayout="row" fxFlex="100%">
    <div class="logo ml-1">VegaNearby</div>
    <div class="nav-more" fxFlex fxLayoutAlign="end center">
      <a mz-button href="#" id="btn-more" [float]="true" [flat]="true">
        <i mz-icon icon="more_vert"></i>
      </a>
    </div>
    <mz-dropdown [id]="'more'" [dropdownButtonId]="'btn-more'" [constrainWidth]="false">
      <mz-dropdown-item>
        <a><i mz-icon icon="account_circle"></i>My Account</a>
      </mz-dropdown-item>
      <mz-dropdown-item>
        <a><i mz-icon icon="settings"></i>Settings</a>
      </mz-dropdown-item>
      <mz-dropdown-item *ngIf="isAuth">
        <a (click)="singOut()"><i mz-icon icon="power_settings_new"></i>Sign Out</a>
      </mz-dropdown-item>
      <mz-dropdown-item *ngIf="!isAuth">
        <a (click)="openModal()"><i mz-icon icon="power_settings_new"></i>Sign In</a>
      </mz-dropdown-item>
    </mz-dropdown>
  </mz-navbar-item-container>
</mz-navbar>
