<div class="filter">
    <h3 class="title">Establishment Type</h3>
    <mz-radio-button-container *ngFor="let category of categories; let i = index">
      <input 
        mz-radio-button
        label="{{ category.title }}"
        name="establishment"
        [id]="category.alias"
        [checked]="category.title === selectedCategory.title"
        [withGap]="true"
        type="radio"
        (change)="onCategoryChanged(i)"
      >
    </mz-radio-button-container>
  </div>
<div class="filter">
  <div class="inline">
    <h3>Map</h3>
    <div class="switch ml-auto">
      <label>
        Dragable
        <input type="checkbox" [checked]="mapDraggable" (change)="mapDraggable = !mapDraggable">
        <span class="lever"></span>
      </label>
    </div>
  </div>
  <agm-map
    [ngClass]="{'disabled': !mapDraggable}"
    [latitude]="mapCenter.lat"
    [longitude]="mapCenter.lng"
    [streetViewControl]="false"
    [maxZoom]="16"
    [minZoom]="12"
    [zoom]="12"
    [zoomControl]="false"
    [clickableIcons]="mapDraggable"
    [mapDraggable]="mapDraggable"
    [scrollwheel]="mapDraggable"
    [disableDoubleClickZoom]="!mapDraggable"
    (centerChange)="mapCenter = $event"
    (boundsChange)="mapBounds = $event"
    (idle)="onIdle()"
  >
    <agm-marker
      *ngFor="let business of data?.businesses"
      [latitude]="business.coordinates.latitude"
      [longitude]="business.coordinates.longitude"
      [iconUrl]="'assets/icons/marker.png'"
      [title]="business.name"
    >
      <agm-info-window [disableAutoPan]="true">
        <p>{{ business.name }}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="filter">
  <h3 class="title">Price</h3>
  <mz-checkbox-container *ngFor="let price of prices">
    <input
      mz-checkbox
      [filledIn]="true"
      [label]="price.title"
      [id]="price.alias"
      [checked]="selectedPrices.indexOf(price.alias) > -1"
      type="checkbox"
      (change)="onFilterChanged(selectedPrices, price.alias)"
    >
  </mz-checkbox-container>
</div>
<div class="filter" *ngIf="selectedCategory.alias === 'restaurants'">
  <h3 class="title">Cuisine</h3>
  <mz-checkbox-container *ngFor="let cuisine of cuisines">
    <input
      mz-checkbox
      [filledIn]="true"
      [label]="cuisine.title"
      [id]="cuisine.alias"
      [checked]="selectedCuisines.indexOf(cuisine.alias) > -1"
      type="checkbox"
      (change)="onFilterChanged(selectedCuisines, cuisine.alias)"
    >
  </mz-checkbox-container>
  <div class="more" (click)="openModal()">
    <span>Show More</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</div>