<div class="header flex">
  <div class="content flex column justify-content-center w-100">
    <h1 class="center-align mt-0" *ngIf="!(mobileView | async)">Searching for {{ category.alias }}?</h1>
    <h3 class="center-align mt-0" *ngIf="!(mobileView | async)"><vn-typed [strings]="strings"></vn-typed></h3>
    <h2 class="center-align mt-0" *ngIf="(mobileView | async)">Find your favorite {{ category.alias }}</h2>
    <vn-search mode="home"></vn-search>
    <div class="bottom">
      
      <p class="mb-0">Our search engine is powered by yelp</p>
      <p class="small">The most popular restaurant finder!</p>
      <a href="https://www.yelp.com" target="_blank">
        <img src="assets/images/yelp_logo.png" alt="yelp logo">
      </a> 
    </div>
  </div>
</div>
<div class="banners flex px-2" [ngClass]="{open: bannerOpen}">
  <div class="banner" [ngClass]="{flip: banner.checked}" *ngFor="let banner of banners" (click)="flipBanner(banner)">
    <div class="front">
      <i class="mdi mdi-{{banner.icon}} mdi-36px"></i>
      <div class="text">
        <h4>{{ banner.title }}</h4>
        <p>{{ banner.subtitle }}</p>
      </div>
    </div>
    <div class="back">
      <p>{{ banner.text }}</p>
    </div>
  </div>
</div>
  
<div class="content w-100">
  <div class="title-big mt-3 mb-2">
    <h1 class="mt-0">Recommended Cities</h1>
    <p class="m-0">Most vegan friendly cities you must explore</p>
  </div>

  <div class="cities flex wrap w-100">
    <div class="city big" (click)="searchCity('Los Angeles, CA, USA')">
      <div class="los-angeles"></div>
      <h3>Los Angeles</h3>
    </div>
    <div class="center">
      <div class="city" (click)="searchCity('New York, NY, USA')">
        <div class="new-york"></div>
        <h3>New York</h3>
      </div>
      <div class="city" (click)="searchCity('Toronto, ON, Canada')">
        <div class="toronto"></div>
        <h3>Toronto</h3>
      </div>
    </div>
    <div class="city big" (click)="searchCity('Berlin, Germany')">
      <div class="berlin"></div>
      <h3>Berlin</h3>
    </div>
  </div>

  <div class="title-big mt-3 mb-2">
    <h1 class="mt-0">Recommended Places</h1>
    <p class="m-0">Most vegan friendly places you must explore</p>
  </div>

  <div class="places flex justify-content-center mb-3">
    <div class="error center-align align-self-flex-start w-70 py-2" *ngIf="(state | async).error">
      <h3 class="white-text">Connection Error</h3>
      <p class="white-text">Ooops, something went wromg. Please try again later.</p>
      <button mz-button (click)="onReload()">Try Again</button>
    </div>
    <vn-place
      [place]="place"
      [ngClass]="{list: (mobileView | async)}"
      [listMode]="(mobileView | async)"
      *ngFor="let place of (state | async).places"
    >
    </vn-place>
    <div class="spinner-container flex align-items-center justify-content-center" *ngIf="(state | async).loading">
      <mz-spinner size="medium" color="blue"></mz-spinner>
    </div>
  </div>
</div>