.search-bar {
  position: relative;
  padding: 50px;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-size: cover;
  opacity: 0.9;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  &.cafe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/cafe.jpg');
    background-position: 50% 40%;
  }
  &.restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/restaurant.jpg');
    background-position: 50% 35%;
  }
  &.bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/pub.jpg');
    background-position: 50% 45%;
  }

  .header {
    margin-top: auto;
    font-size: 2.3rem;
    letter-spacing: 1.5px;
    color: #fff;
  }

  .search-box {
    align-items: stretch;
    padding-left: 20px;
    background: #fff;
    border-radius: 100px;
    border: 0px solid #212121;
    min-height: 45px;
    margin-bottom: auto;

    .search-icon {
      align-self: center;
      font-size: 22px;
    }

    .search-input {
      margin: 0;
      outline: none;
      border: 0;
      font-size: 1rem;
      width: 100%;
      margin-left: 5px;
      align-self: stretch;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }

    button[mz-button] {
      height: 100%;
      font-size: 1rem;
      letter-spacing: 0.5px;
      color: #fff;
      margin-left: auto;
      align-self: stretch;
      border-radius: 0 100px 100px 0;
    }
  }

  &.small,
  &.x-small {
    min-height: 300px;
    .search-box .mat-button {
      letter-spacing: 1px;
    }
  }

  &.small {
    padding: 20px;
    .header {
      font-size: 1.8rem;
    }
    .search-box {
      min-height: 40px;
    }
  }
  &.x-small {
    padding: 15px;
    .header {
      font-size: 1.3rem;
    }
    .search-box {
      min-height: 35px;
    }
  }
}
