<nav [ngClass]="{home: activatedRoute === 'home', sticky: activatedRoute !== 'home' && mobileView}" [@searchState]="searchBarOpen">
  <div class="flex justify-content-space-between align-items-center content h-100">

    <a class="logo" *ngIf="!searchBarOpen" routerLink="/"></a>

    <button
      class="btn btn-menu btn-floating btn-flat waves-effect"
      [ngClass]="activatedRoute !== 'home' ? 'waves-dark' : 'waves-light'"
      vnSidenavButton
      sidenav="menu-sidenav"
      [width]="350"
      *ngIf="activatedRoute === 'home' || activatedRoute !== 'home' && mobileView && !searchBarOpen"
    > 
      <i class="material-icons">menu</i>
    </button>

    <ng-container *ngIf="activatedRoute !== 'home'">
      <vn-search mode="nav" class="flex align-items-center" *ngIf="!mobileView || searchBarOpen"></vn-search>
    </ng-container>

    <div class="pages flex align-items-center ml-auto" *ngIf="activatedRoute !== 'home' && !mobileView">
      <ng-container *ngIf="(user | async)">
        <div class="btn-favorites">
          <a 
            class="btn-flat btn-floating waves-effect waves-dark"
            routerLink="/favorites"
            vnTooltip
            tooltip="Favorites"
            position="bottom"
          >
            <i class="material-icons">favorite_border</i>
          </a>
          <span class="badge right">{{ (user | async).favorites.length }}</span>
        </div>
        
        <a
          class="btn-flat btn-floating waves-effect waves-dark"
          (click)="logout()"
          vnTooltip
          tooltip="Logout"
          position="bottom"
        >
          <i class="material-icons">exit_to_app</i>
        </a>
      </ng-container>
      
      <ng-container *ngIf="!(user | async)">
        <a
          class="btn-flat btn-floating waves-effect waves-dark"
          (click)="openModal($event, 'register')"
          vnTooltip
          tooltip="Register"
          position="bottom"
        >
          <i class="material-icons">create</i>
        </a>
        <a
          class="btn-flat btn-floating waves-effect waves-dark"
          (click)="openModal($event, 'login')"
          vnTooltip
          tooltip="Login"
          position="bottom"
        >
          <i class="material-icons">power_settings_new</i>
        </a>
      </ng-container>
    </div>

    <button
      class="btn btn-search btn-floating btn-flat waves-effect waves-dark"
      (click)="searchBarOpen = !searchBarOpen"
      *ngIf="activatedRoute !== 'home' && mobileView"
    >
      <i mz-icon [icon]="searchBarOpen ? 'close' : 'search'" align="left"></i>
    </button>
  </div>
</nav>

<!-- Sidenav -->
<ul id="menu-sidenav" class="side-nav">
  <li>
    <div class="user-view">
      <ng-container *ngIf="!(user | async)">
        <div class="background">
          <img src="assets/images/menu-background-1.jpg">
        </div>
        <img class="circle" src="assets/images/user.jpg">
        <span class="white-text name pb-1">Wellcome Guest</span>
      </ng-container>

      <ng-container *ngIf="(user | async)">
        <div class="background">
          <img [src]="'assets/images/menu-background-' + (user | async).background + '.jpg'">
        </div>
        <img class="circle" [src]="(user | async).avatarUrl || 'assets/images/user.jpg'">
        <span class="white-text name">{{ (user | async).username }}</span>
        <span class="email">{{ (user | async).email }}</span>
      </ng-container>
    </div>
  </li>

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">
      <i class="material-icons">home</i>Home
    </a>
  </li>

  <ng-container *ngIf="!(user | async)">
    <li class="mt-1">
      <a (click)="openModal($event, 'register')">
        <i class="material-icons">create</i>
        Register
      </a>
    </li>
    <li>
      <a (click)="openModal($event, 'login')">
        <i class="material-icons">power_settings_new</i>
        Login
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="(user | async)">
    <li routerLinkActive="active">
      <a routerLink="/favorites">
        <i class="material-icons">favorite</i>Favorites
        <span class="badge right">{{ (user | async).favorites.length }}/20</span>
      </a>  
    </li>
    <li>
      <a (click)="logout()">
        <i class="material-icons">exit_to_app</i>
        Logout
      </a>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader flex align-items-center">
      Menu Background
      <mz-spinner class="ml-auto" size="small" *ngIf="(backgroundLoading | async)"></mz-spinner>
    </a></li>
    <div class="flex wrap px-1">
      <div class="background-item" [ngClass]="{selected:  (user | async).background === index}" (click)="setBackground(index)" *ngFor="let index of [1,2,3,4,5,6]">
        <img [src]="'assets/images/menu-background-' + index + '.jpg'">
      </div>
    </div>
  </ng-container> 
</ul>