<nav [ngClass]="{transparent: mode === 'home'}" [@searchState]="searchBarOpen">
  <div class="flex justify-content-space-between content h-100">
    <button
      mz-button
      class="back-btn align-self-center"
      [flat]="true"
      (click)="goBack()"
      *ngIf="mode === 'page' && mobileView && !searchBarOpen"
    >
      <i mz-icon icon="arrow_back" align="left"></i>
    </button>
    <a class="logo" *ngIf="!searchBarOpen" routerLink="/">VegaNearby</a>
    <ng-container *ngIf="mode === 'page'">
      <vn-search mode="nav" class="flex align-items-center" *ngIf="!mobileView || searchBarOpen"></vn-search>
    </ng-container>
    <div class="flex justify-content-flex-end align-items-center nav-more">
      <button
        mz-button
        class="search-btn"
        [flat]="true"
        (click)="searchBarOpen = !searchBarOpen"
        *ngIf="mode === 'page' && mobileView"
      >
        <i mz-icon [icon]="searchBarOpen ? 'close' : 'search'" align="left"></i>
      </button>
      <button
        mz-button
        class="flex justify-content-center align-items-center login-btn h-100"
        [flat]="true"
        (click)="openModal()"
        *ngIf="!user && !searchBarOpen"
      >
        <i mz-icon icon="person" align="left"></i>
        {{ mobileView && !transparent ? '' : 'Login' }}
      </button>
      <button
        mz-button
        id="btn-more"
        [flat]="true"
        class="flex justify-content-flex-end align-items-center h-100"
        vnDropdownTriggerFor="more"
        [hover]="true"
        [belowOrigin]="true"
        [constrainWidth]="false"
        *ngIf="user && !searchBarOpen"
      >
        <div class="user-info right-align hide-on-extra-small-only">
          <div class="username">{{ user.username }}</div>
          <div class="email thin">{{ user.email }}</div>        
        </div>
        <img class="flex circle" [src]="user.avatarUrl || 'assets/images/user.ico'" alt="avatar">
      </button>  
    </div>
    <ul id="more" class='dropdown-content'>
      <li><a><i mz-icon icon="account_circle"></i>My Account</a></li>
      <li><a [routerLink]="['/','places','favorites']"><i mz-icon icon="favorite"></i>Favorites</a></li>
      <li><a (click)="logout()"><i mz-icon icon="power_settings_new"></i>Sign Out</a></li>
    </ul>
  </div>
</nav>