@import '../../variables';

nav {
  overflow: hidden;
  background-color: #fff;
  border-top: 2px solid $primary-color;
  box-shadow: none;
  
  vn-search {
    width: 30%;
    
    @media #{$small-and-down} {
      width: 80%;
    }
  }
  
  .logo {
    z-index: 1;
    width: 170px;
    height: 35px;
    background-image: url('../../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: none;

    @media #{$small-and-down} {
      width: 150px;
      height: 31px;
    }
  }
  
  .btn-search,
  .btn-menu {
    i {
      height: 40px;
      line-height: 40px;
    }
  }

  ul li {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      color: $dark-color;
      font-size: 14px;

      &:hover {
        background-color: $body-bg-color;

        .badge {
          background-color: $body-bg-color;
          color: $dark-color;
        }
      }

      .badge {
        position: absolute;
        top: 8px;
        right: 0;
        height: auto;
        min-width: auto;
        padding: 4px 6px;
        color: #fff;
        font-size: 11px;
        line-height: 1;
        border-radius: 50%;
        background-color: #f15c4f;
        transition: all 0.3s;
      }
    }
  }

  &:not(.home) {
    .btn-floating i {
      color: $dark-color;
    }

    .btn-menu {
      order: -1;
    }
  }

  &.home {
    background-color: transparent;

    .logo {
      background-image: url('../../../assets/images/logo_white.png');
    }
  }
}

.side-nav {
  transition: width 0.25s ease-in-out;

  .user-view {
    padding: 50px 22px 0;

    .background img {
      width: 100%;
      height: 100%;
    }

    .name {
      margin-top: 10px;
    }
    
    .email {
      color: #d0d0d0;
    }
  }

  li > a {
    padding: 0 1rem;

    &.subheader.flex {
      display: flex;

      mz-spinner::ng-deep {
        .preloader-wrapper.small {
          width: 16px;
          height: 16px;
        }

        .spinner-layer {
          border-color: #757575;
        }
      }
    }

    & > i.material-icons {
      margin: 0 20px 0 0;
    } 
  }

  .background-item {
    position: relative;
    width: calc(33% - 3px);
    height: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: $medium-transition;
    
    &:nth-of-type(3n + 3) {
      margin-right: 0;
    }

    &:hover {
      img {
        opacity: 0.6;
      }
    }

    &::after {
      position: absolute;
      content: 'check_circle';
      font-family: 'Material Icons';
      font-size: 35px;
      top: 5px;
      left: 38px;
      color: #fff;
      transform: scale(0);
      transition: $medium-transition;
    }

    &.selected {
      img {
        opacity: 0.6;
      }

      &::after {
        transform: scale(1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transition: $medium-transition;
    }
  }

  @media #{$extra-small-only} {
    width: 300px !important;

    .background-item.selected::after {
      font-size: 30px;
      top: 7px;
      left: 31px;
    }
  }
}