// ==========================================================================
// Materialize Modal
// ==========================================================================

.modal-overlay {
  top: 0;
}

.modal {
  position: static;
  max-height: 100%;

  .modal-footer:empty {
    display: none;
  }
}

mz-modal#registration {
  .modal {
    @media #{$extra-large-and-up} {
     width: 35%; 
    }
    @media only screen and (max-width: $large-screen) {
      width: 50%;
    }
    @media only screen and (max-width: $medium-screen) {
      width: 70%;
    }
    @media only screen and (max-width: $small-screen) {
      width: 85%;
    }
  }
}

mz-modal#filter {
  .modal {
    height: 80%;
    @media #{$extra-large-and-up} {
      width: 65%;
    }
    @media only screen and (max-width: $large-screen) {
      width: 75%;
    }
    @media only screen and (max-width: $medium-screen) {
      height: 95%;
      width: 90%;
    }
  }
}