// ==========================================================================
// Materialize Modal
// ==========================================================================

.modal {
  bottom: 0;

  .modal-content {
    padding: 0;

    & > h4,
    & > p {
      margin: 0;
    }
  }
  
}

.modal-footer:empty {
  display: none;
}

mz-modal#auth {
  .modal {
    display: table !important;
    max-width: 350px;
    border-radius: 5px;
    border-top: 5px solid $primary-color;
    @media #{$extra-large-and-up} {
     width: 35%; 
    }
    @media only screen and (max-width: $large-screen) {
      width: 50%;
    }
    @media only screen and (max-width: $medium-screen) {
      width: 70%;
    }
    @media only screen and (max-width: $small-screen) {
      width: 85%;
    }
  }
}

mz-modal#cuisines {
  .modal {
    height: 80%;
    max-width: 950px;
    overflow: hidden;

    .modal-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    @media #{$extra-large-and-up} {
      width: 65%;
    }
    @media only screen and (max-width: $large-screen) {
      width: 75%;
    }
    @media only screen and (max-width: $medium-screen) {
      height: 95%;
      width: 90%;
    }
  }
}