// ==========================================================================
// Materialize Modal
// ==========================================================================
.modal {
  position: static;
  max-height: 100%;

  @media #{$extra-large-and-up} {
   width: 35%; 
  }
  @media only screen and (max-width: $large-screen) {
    width: 50%;
  }
  @media only screen and (max-width: $medium-screen) {
    width: 70%;
  }
  @media only screen and (max-width: $small-screen) {
    width: 85%;
  }
}
.modal-overlay {
  top: 0;
}