// ==========================================================================
// Materialize Preloader
// ==========================================================================

mz-spinner {
  display: flex;
  justify-content: center;
}

.preloader-wrapper {
  &.small {
    width: 20px;
    height: 20px;

    .circle-clipper .circle {
      border-width: 2px;
    }
  }
}