// ==========================================================================
// Materialize Toast
// ==========================================================================
#toast-container {
  @media #{$medium-and-up} {
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: right;
  }

  @media #{$medium-only} {
    top: 10%;
    bottom: initial;
    max-width: 100%;
    width: 100%;
  }
}

.toast {
  justify-content: center;
  background: $warning-color;

  @media #{$medium-and-up} {
    display: inline-block;
    float: right;
    right: 2%;
    padding: 10px;
    min-height: 0;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
  }
}