// ==========================================================================
// Materialize Tooltip
// ==========================================================================

.material-tooltip {
  padding: 10px 15px;
  font-size: 13px;
}

.backdrop {
  background-color: $dark-color;
}