// ==========================================================================
// Styles
// ==========================================================================

// Global
// ==========================================================================
html {
  font-family: 'Quicksand', 'Roboto' ,sans-serif;
}

html,
label {
  color: $dark-color;
}

a {
  cursor: pointer;
}

header {
  padding: 15px;
  background-color: $primary-color;

  h4 {
    width: 80%;
    font-weight: 300;
    line-height: 1.5;
  }

  p {
    width: 20%;
    text-align: right;
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;

    h4 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }

  @media #{$extra-small-only} {
    margin: 0 -5px 1rem;
    padding: 25px 5px;

    h4 {
      font-size: 1.2rem;
    }
  }
}

.content {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
  @media #{$medium-and-down} {
    max-width: 100%;
    padding: 0 15px;
  }
  @media #{$small-and-down} {
    padding: 0 5px;
  }
}

.btn, .btn-large, .btn-flat {
  text-transform: initial;
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

// Error
// ==========================================================================
.error {
  background-color: #ffc8c6;
  border-radius: 3px;
  border: 1px solid #f17d79;
}

// Google autocomplete
// ==========================================================================
.pac-container {
  border-top: none;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
.pac-item {
  padding: 3px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .pac-icon {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// Spinner wrap
// ==========================================================================
.spinner-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;

  &:not([hidden]) {
    display: flex;
  }
}


// Auth Input
// ==========================================================================
mz-input-container.auth .input-field { 
  input:not(.browser-default) {
    border: 0;
    background: #eee;
    height: 2.5rem;
    font-size: 0.9rem;
    display: block;
    // font-weight: 500;
    position: static;
    box-shadow: none;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 2px;

    &::-webkit-input-placeholder {
      color: #777;
    }

    &.invalid:not(.browser-default),
    &.ng-invalid.ng-dirty {
      border-left: 3px solid #F44336;
      box-shadow: none;
      background: #f9e9e8;
      border-bottom: 0;
    }

    &.valid:not(.browser-default),
    &.valid:not(.browser-default):focus,
    &:not(.browser-default):focus:not([readonly]) {
      border-left: 3px solid #2196f3;
      box-shadow: none;
      background: #eee;
      border-bottom: 0;
    }
  }

  label {
    font-weight: 500;
    top: -7px;
  }

  .invalid {
    min-height: 30px !important;
  }
}