// ==========================================================================
// Utilities
// ==========================================================================
@import 'utilities/index';

// ==========================================================================
// Materialize - Custom
// ==========================================================================
$primary-color: color(primary) !default;
$secondary-color: color(secondary) !default;
$success-color: $secondary-color !default;
$error-color: color(error) !default;

input[mzinput].valid + label {
  color: $success-color;
}

input[mzinput].invalid + p + label {
  color: $error-color;
}

// ==========================================================================
// Materialize
// ==========================================================================

@import '~materialize-css/sass/materialize';
@import '~mdi/scss/materialdesignicons';

// ==========================================================================
// Helpers
// ==========================================================================
@import 'helpers';

// ==========================================================================
// Styles
// ==========================================================================
@import 'styles';

// ==========================================================================
// Typed.js
// ==========================================================================
@import 'typed.js/cursor';