<mz-modal id="cuisines" class="h-100 flex column justify-content-center align-items-center" [options]="modalOptions">
  <mz-modal-header>
    <input id="search-input" placeholder="Search Cuisine" type="text" [(ngModel)]="searchValue">
  </mz-modal-header>
  <mz-modal-content fxLayout="row wrap">
    <div class="list flex w-100 wrap justify-content-space-between align-items-flex-start">
      <p class="checkbox-field filter" *ngFor="let cuisine of cuisines | searchFilter:searchValue; trackBy: trackByAlias">
        <input type="checkbox" [id]="'modal-' + cuisine.alias" class="filled-in" [checked]="cuisine.checked" [disabled]="disable && !cuisine.checked"
          (change)="onDataChanged(cuisine)">
        <label [for]="'modal-' + cuisine.alias">{{ cuisine.title }}</label>
      </p>
    </div>
    <div class="modal-btn">
      <button mz-button (click)="onApply()">Apply</button>
    </div>
  </mz-modal-content>
</mz-modal>