<header class="flex w-100 wrap" style="background-image: url('../assets/images/header1.jpg')">
  <app-nav class="flex w-100 align-self-flex-start"></app-nav>
  <div class="cover"></div>
  <div class="content center-align">
    <h1 class="w-100 nowrap"><strong>{{ selectedCategory.title }}</strong> near {{ selectedLocation }}</h1>
    <!-- <h2 fxFlex.xs="100%" class="nowrap m-0"><strong>{{ selectedCategory.title }}</strong> near {{ selectedLocation.name }}</h2> -->
    <!-- <p fxFlex="170px" fxFlex.xs="100%" class="m-0 ml-auto" ngClass.gt-xs="right-align" *ngIf="data.businesses.length > 0">
      Showing {{ getDisplayedItemsStatus() }}
    </p> {{ getRandomHeaderImage() }} -->
  </div>
</header>
<section class="w-100 mt-2">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>