:host {
  display: flex;
  flex-wrap: wrap;
}

header {
  border-bottom: 1px solid #e6e6e6;

  h2 {
    font-size: 1.5rem;
  }
}

.filters {
  border-right: 1px solid #e6e6e6;
}

.businesses-wrap {
  position: relative;
}