@import '../../variables';

:host {
	display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;

  @media #{$small-and-down} {
    background-color: #f6f6f6;
  }
}

vn-nav.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

footer.page-footer {
  margin-top: auto;
  padding-top: 0;
  
  .footer-copyright {
    background-color: darken($primary-color, 5%);
    font-weight: 400;
  }
}