// ==========================================================================
// variables
// ==========================================================================

$theme-colors: (
  primary: #4caf50,
  secondary: #2196f3,
  error: #e53935,
  black: #000,
  twitter: #55acee,
  facebook: #3b5999,
  google: #dd4b39
);