// ==========================================================================
// variables
// ==========================================================================

$theme-colors: (
  primary: #0089ec,
  secondary: #ff5722,
  error: #e53935,
  dark: #212121,
  twitter: #55acee,
  facebook: #3b5999,
  google: #dd4b39
);