// ==========================================================================
// variables
// ==========================================================================

$theme-colors: (
  primary: #308941,
  secondary: #0089ec,
  warning: #ffae42,
  error: #e53935,
  dark: #212121,
  light-gray: #f5f5f5,
  white: #fff,
  twitter: #55acee,
  facebook: #3b5999,
  google: #dd4b39
);