@import 'variables';

.content-wrap {
  padding: 20px;

  p {
    font-size: 0.9rem;
  }
}

.buttons-wrap button {
  padding: 0;
  border-top: 1px solid $border-color;

  &:first-child {
    color: $danger-color;
    border-radius: 0 0 0 5px;
    border-right: 1px solid $border-color;
  }

  &:last-child {
    color: $primary-color;
    border-radius: 0 0 5px 0;
  }
}