@import '../../variables';

.search-box form > * {
  border-radius: 3px;
}

.categories ::ng-deep {
  margin-right: 10px;

  .select-wrapper {
    border: 1px solid $border-color;
    border-radius: 3px;
  }

  .input-field {
    margin-top: 0;

    .caret {
      right: 10px;
      color: $font-color;
    }
    
    .select-dropdown {
      margin: 0;
      border: none;
      font-size: 14px;
      color: $font-color;
      text-align: center;
    }

    ul.dropdown-content {
      background-color: #fff;
      border-radius: 0;
      margin-top: 3.1rem;

      li {
        text-align: center;
        min-height: 3rem;
        display: flex;;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        transition: $fast-transition;

        span {
          color: $font-color;
          padding: 0;
          font-size: 14px;
        }
      }

      &.active {
        border-radius: 0;
      }
    }
  }
}

.location {
  background: #fff;
  margin-right: 10px;
  border: 1px solid $border-color;

  #locate {
    display: flex;;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }

  .search-input {
    margin: 0;
    outline: none;
    border: 0;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
    margin-right: 3px;
    font-size: 14px;
    color: $dark-color;
    align-self: stretch;
    transition: none;
    
    &::-webkit-input-placeholder  {
      color: $font-color;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

button[type = submit] {
  display: flex;;
  justify-content: center;
  height: auto;
  max-width: 50px;
  background-color: $primary-color;
  box-shadow: none;

  i {
    font-size: 25px;
  }

  mz-spinner::ng-deep .spinner-layer{
    border-color: #fff;
  }
}

@media #{$extra-small-only} {
  .search-box:not(.nav) {
    form {
      flex-wrap: wrap;

      .categories,
      .location {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }

      .categories ::ng-deep {
        height: 42px;
      }

      .location {
        display: flex;;
        color: #fff;

        input {
          align-self: center;
          height: 2rem;
          order: -1;
          margin-left: 0;
          padding-left: 10px;
        }
      }

      button[type = submit] {
        height: 42px;
        padding: 0;
        min-width: 100%;
      }
    }
  }
}

.search-box.nav {
  width: 100%;
  padding: 0;
  background-color: transparent;

  form {
    border: 1px solid $border-color;
    border-radius: 3px;

    .location {
      width: 100%;
      margin-right: 0;
      border-radius: 5px 0 0 5px;
      border: none;

      button {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
  
        i {
          font-size: 21px;
          height: 2rem;
          line-height: 2rem;
        }
      }

      input {
        height: 2.4rem;
        margin: 0;
        padding: 0 13px;
        color: $dark-color;
      }
    }

    button[type = submit] {
      width: 2.5rem;
      height: auto;
      line-height: 1;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      
      i {
        height: auto;
        color: $gray-color;
        font-size: 21px;
        line-height: 1;
        transition: $fast-transition;
      }

      mz-spinner::ng-deep .spinner-layer {
        border-color: $gray-color;
      }

      &:hover {
        i {
          color: $dark-color;
        }
      }
    }
  }
}