@import '../../variables';

.search-box form > * {
  border-radius: 3px;
}

.categories ::ng-deep {
  margin-right: 10px;

  .select-wrapper {
    border: 1px solid $border-color;
    border-radius: 3px;
  }

  .input-field {
    margin-top: 0;

    .caret {
      right: 10px;
      color: $font-color;
    }
    
    .select-dropdown {
      margin: 0;
      border: none;
      font-size: 14px;
      color: $font-color;
      text-align: center;
    }

    ul.dropdown-content {
      background-color: #fff;
      border-radius: 0;
      margin-top: 3.1rem;

      li {
        text-align: center;
        min-height: 3rem;
        display: flex;;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        transition: background-color 0.25s ease-out;
        will-change: background-color;

        &.selected {
          background-color: $secondary-background;
        }

        span {
          color: $font-color;
          padding: 0;
          font-size: 14px;
        }
      }

      &.active {
        border-radius: 0;
      }
    }
  }
}

.location {
  position: relative;
  background: #fff;
  margin-right: 10px;
  border: 1px solid $border-color;

  #locate {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;;
    justify-content: center;
    align-items: center;
    

    button {
      padding-left: 5px;
      height: 100%;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }
  }

  .search-input {
    margin: 0;
    outline: none;
    border: 0;
    font-size: 1rem;
    width: 100%;
    padding-left: 50px;
    font-size: 14px;
    color: $dark-color;
    align-self: stretch;
    transition: none;
    
    &::-webkit-input-placeholder  {
      color: $font-color;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

button[type = submit] {
  display: flex;;
  justify-content: center;
  height: auto;
  max-width: 50px;
  background-color: $primary-color;
  box-shadow: none;

  i {
    font-size: 25px;
  }

  mz-spinner::ng-deep .spinner-layer{
    border-color: #fff;
  }
}

@media #{$extra-small-only} {
  .search-box:not(.nav) {
    form {
      flex-wrap: wrap;

      .categories,
      .location {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }

      .categories ::ng-deep {
        height: 42px;
      }

      .location {
        display: flex;;
        color: #fff;

        #locate {
          left: initial;
          right: 0;
        }

        input {
          align-self: center;
          order: -1;
          margin-left: 0;
          padding-left: 10px;
        }
      }

      button[type = submit] {
        height: 42px;
        padding: 0;
        min-width: 100%;
      }
    }
  }
}

.search-box.nav {
  width: 100%;
  padding: 0;

  form {
    position: relative;
    background-color: $secondary-background;
    transition: 0.2s ease-out;
    transition-property: background-color, box-shadow;
    will-change: background-color, box-shadow;

    &.active {
      box-shadow: 0 0 2px 1px $border-color;
      background-color: #fff;
    }

    .location {
      width: 100%;
      margin-right: 0;
      background-color: transparent;
      border: none;

      button {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
  
        i {
          font-size: 21px;
          height: 2rem;
          line-height: 2rem;
        }
      }

      input {
        height: 3rem;
        margin: 0;
        padding: 0 50px 0 13px;
        color: $dark-color;
      }
    }

    button[type = submit] {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      line-height: 1;
      padding: 0 10px;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      
      i {
        height: auto;
        color: $gray-color;
        transition: color 0.25s ease-out;
        will-change: color;

        &:before {
          font-size: 23px;
          line-height: 1;
        }
      }

      mz-spinner::ng-deep .spinner-layer {
        border-color: $gray-color;
      }

      &:hover {
        i {
          color: $dark-color;
        }
      }
    }
  }
}

:host-context(.transparent) {
  .search-box.nav {
    form {
      background-color: rgba($secondary-background, 0.3);

      &.active {
        box-shadow: none;
        background-color: #fff;
      }

      input {
        height: 2.8rem;
      }

      &:not(.active) {
        input,
        input::placeholder  {
          color: #fff;
        }

        button[type = submit] i {
          color: #fff;
        }
      }
    }
  }
}