// ==========================================================================
// Styles
// ==========================================================================

// Global
// ==========================================================================
html,
label {
  color: $font-color;
}

body {
  min-height: 100vh;
  background-color: $body-bg-color;
}

a {
  cursor: pointer;
  transition: $medium-transition;
}

.content {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1170px;
  @media #{$medium-and-down} {
    max-width: 100%;
    padding: 0 15px;
  }
  @media #{$small-and-down} {
    padding: 0 10px;
  } 
}

.btn, .btn-large, .btn-flat {
  text-transform: initial;
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

// Headers & Titles
// ==========================================================================
header {
  position: relative;
  display: flex;;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  h1 {
    margin: 0;
    color: #fff;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 1.5;
    z-index: 10;
  }

  @media #{$small-and-down} {
    margin-top: 56px;
    height: 250px;

    h1 {
      font-size: 2rem;
    }
  }

  & + .content {
    background-color: #fff;
    padding: 2rem 25px;

    @media #{$medium-and-down} {
      padding: 2rem 15px;
    }
    @media #{$small-and-down} {
      padding: 2rem 10px;
    } 
  }
}

.title {
  display: flex;;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid $border-color;
  line-height: 1.5;

  h4 {
    font-family: $font-family;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
  }

  &.inline {
    h4 {
      width: 80%;
    }
  }

  p {
    width: 20%;
    margin: 0;
    text-align: right;
  }

  p.badge {
    width: auto;
    margin-left: auto;
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 3px;
    background-color: $tertiary-color;
    color: #fff;
  }

  @media #{$small-and-down} {
    flex-wrap: wrap;

    &.inline h4,
    h4 {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
    p {
      width: 100%;
      text-align: center;
    }
    p.badge {
      width: auto;
      margin: 0 auto;
    }
  }

  @media #{$extra-small-only} {
    margin: 0 -5px 1rem;
    padding: 10px 5px;

    h4 {
      font-size: 1.3rem;
    }
  }
}

// Error
// ==========================================================================
.error {
  border: 1px solid darken($danger-color, 5%);
  border-radius: 3px;
  background-color: $danger-color;

  h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #fff;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #fff;

    & + p {
      font-size: 12px;
    }

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }


  
  button {
    background-color: darken($danger-color, 5%);
    box-shadow: none;

    &:hover, 
    &:focus {
      background-color: darken($danger-color, 10%);
      box-shadow: none;
    }
  }
}

// Google autocomplete
// ==========================================================================
.pac-container {
  border-top: none;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
.pac-item {
  cursor: pointer;
  padding: 3px 10px;
  transition: $fast-transition;

  .pac-icon {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// Spinner wrap
// ==========================================================================
.spinner-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba($body-bg-color, 0.6);
  z-index: 10;

  &:not([hidden]) {
    display: flex;;
  }
}


// Auth Input
// ==========================================================================
mz-input-container.auth .input-field { 
  input:not(.browser-default) {
    border: 0;
    background: #eee;
    height: 2.5rem;
    font-size: 0.9rem;
    display: block;
    // font-weight: 500;
    position: static;
    box-shadow: none;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 2px;

    &::-webkit-input-placeholder {
      color: #777;
    }

    &.invalid:not(.browser-default),
    &.ng-invalid.ng-dirty {
      border-left: 3px solid #F44336;
      box-shadow: none;
      background: #f9e9e8;
      border-bottom: 0;
    }

    &.valid:not(.browser-default),
    &.valid:not(.browser-default):focus,
    &:not(.browser-default):focus:not([readonly]) {
      border-left: 3px solid #2196f3;
      box-shadow: none;
      background: #eee;
      border-bottom: 0;
    }
  }

  label {
    font-weight: 500;
    top: -7px;
  }

  .invalid {
    min-height: 30px !important;
  }
}