<div fxFlex="100%" fxLayout="row" class="search-box">
  <form fxFlex="100%" fxLayout="row" #form="ngForm" fxLayoutGap="10px" fxLayoutGap.xs="0" (ngSubmit)="onSubmit()">
    <div class="location" fxFlex="70%" fxFlex.xs="100%" fxLayout="row">
      <div id="locate">
        <button type="button" mz-button [flat]="true" [float]="true" (click)="getLocation()" [disabled]="locateSpinner || locateFailed">
          <i mz-icon class="search-icon" icon="location_on" color="primary" *ngIf="!locateSpinner"></i>
          <mz-spinner color="blue" size="small" *ngIf="locateSpinner"></mz-spinner>
        </button>
      </div>
      <input type="text" name="location" [(ngModel)]="location" class="search-input" placeholder="Search by city..." autocorrect="off" autocapitalize="off" spellcheck="off" #search>
    </div>
    <div class="categories" fxFlex="30%" fxFlex.xs="80%">
      <mz-select-container>
        <select mz-select name="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
          <option *ngFor="let categoryOption of categoryOptions; let i = index" [value]="i">{{ categoryOption.title }}</option>
        </select>
      </mz-select-container>
    </div>
    <button type="submit" fxFlex.xs="20%" bgColor="dark" mz-button><i mz-icon icon="search"></i></button>
  </form>
</div>