<div class="flex w-100" class="search-box" [ngClass]="{nav: activatedRoute === 'places'}">
  <form class="flex w-100" (ngSubmit)="onSubmit()">
    <div class="flex w-70 location">
      <div id="locate">
        <button
          type="button"
          mz-button
          [flat]="true"
          [float]="true"
          (click)="getLocation()"
          [disabled]="locateSpinner || locateFailed"
        >
        <i 
          mz-icon
          [icon]="locateFailed ? 'location_off' : 'location_on'"
          class="search-icon"
          [vnColor]="locateFailed ? 'gray' : 'primary'"
          *ngIf="!locateSpinner"
        >
        </i>
          <mz-spinner color="blue" size="small" *ngIf="locateSpinner"></mz-spinner>
        </button>
      </div>
      <input
        #search
        type="text"
        name="location"
        [(ngModel)]="location"
        class="search-input"
        placeholder="{{ state.categories[state.selectedCategoryIndex].title }} near..."
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        (keyup)="onSearchChange($event)"
      >
    </div>
    <div class="flex w-30 categories" *ngIf="activatedRoute === 'home'">
      <div class="input-field w-100">
        <select mz-select name="category" (change)="onCategoryChange($event)">
          <option [value]="i" *ngFor="let category of state.categories; let i = index" [selected]="state.selectedCategoryIndex === i">{{ category.title }}</option>
        </select>
      </div>
    </div>
    <button mz-button type="submit">
      <i class="align-self-center" mz-icon icon="search" *ngIf="activatedRoute === 'places' || (activatedRoute === 'home' && !state.loading)"></i>
      <mz-spinner id="search-spinner" size="small" *ngIf="state.loading && activatedRoute === 'home'"></mz-spinner>
    </button>
  </form>
</div>